<div *ngIf="!singlePlaceSlider.images" class="slider-placeholder">
    <img src="./../assets/images/icon-img-placeholder.svg" class="img-fluid">

</div>
<div id="single-place-slider" class="carousel slide carousel-fade" data-ride="carousel"
*ngIf="singlePlaceSlider.images">
  <!-- main slider carousel items -->
  <div class="carousel-inner">
      <div *ngFor="let place of singlePlaceSlider.images; let i = index; first as isFirst" [class.active]="(isFirst)"
        class="carousel-item">
        <img [src]="place ?  place.url : ''" class="img-fluid">
      </div>
  </div>
  <!-- main slider carousel nav controls -->
  <a class="carousel-control carousel-control-prev" href="#single-place-slider" role="button" data-slide="prev">
    <img src="./../assets/images/arrow-left.png" />
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control carousel-control-next" href="#single-place-slider" role="button" data-slide="next">
    <img src="./../assets/images/arrow-right.png" />
    <span class="sr-only">Next</span>
  </a>
  <ul class="carousel-indicators carousel-indicators-thumbs list-inline mx-auto border px-2">

    <li *ngFor="let thumb of singlePlaceSlider.images; let n = index; first as isFirst" [class.active]="(isFirst)"
    
    class="list-inline-item" >
      <a  id="carousel-selector-{{n}}" [attr.data-slide-to]="n" [class.selected]="(isFirst)" data-target="#single-place-slider" >
        <img src="{{thumb.url}}" class="img-fluid">
      </a>
    </li>
  </ul>
</div>