@import "../../../variables";
@import "../../../fonts";

.b-footer {
  background: #fff;
  float: left;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #ddd;

  @media all and (min-width: 641px){
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
  }
  @media all and (max-width: 640px){
    padding: .5rem 1rem;
  }
  .row {
    justify-content: space-between;
    
    @media all and (max-width: 768px){
      justify-content: space-evenly;
    }
    @media all and (max-width: 640px){
      justify-content: flex-start;
    }
  }
  .navbar {
    padding-left: 0;

    
    .navbar-nav {
      flex-direction: row;
      @media all and (max-width: 640px){
        flex-wrap: wrap;
      }
      .nav-item {
        margin-right: 25px;

        @media all and (max-width: 450px){
          margin-right: 10px;
        }
        .nav-link {
          font-size: 16px;
          color: #000;
          font-weight: 500;
          text-transform: uppercase;
          @media all and (max-width: 640px){
            font-size: 14px;
          }
          @media all and (max-width: 450px){
            font-size: 12px;
          }

          &:hover {
            color: $localSecondary;
            cursor: pointer;
          }
        }
      }
    }
  }
  .col* {
    padding-left: 0px;
  }
  &__contacts {
    // padding: 0 $mr-15;
    word-break: break-all;
    position: relative;
    &-title {
      margin-bottom: $mr-20;
      color: $slate-grey;
      word-break: break-word;
    }
    &-list {
      margin-bottom: $mr-20;
      padding-left: 0;
      list-style: none;
      word-break: break-word;
      li {
        position: relative;
        padding-left: $mr-15;

        &::before {
          content: "-";
          display: inline-block;
          color: $slate-grey;
          position: absolute;
          left: 0;
          top: -4px;
        }
      }
      a {
        display: block;
        color: $slate-grey;
        margin-bottom: $mr-10;
        cursor: pointer;
        @include text-huge-regular();
      }
    }
  }
  .social-links {
    color: $slate-grey;
    display: table;
    float: right;
    margin-top: 10px;
    @media (max-width: $lg) {
      float: none;
    }
    @media (max-width: $sm) {
      margin: 0;
    }
    a {
      
      &:hover,
      &:focus {
        color: $localSecondary;
        text-decoration: none;
      }
    }
    i {
      font-size: 16px;
      color: #000;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      display: table-cell;
      vertical-align: middle;

      &:hover,
      &:focus {
        color: $localSecondary;
        text-decoration: none;
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #000;
    @media all and (max-width: 640px){
      margin-right: auto;
    }
    span {
      font-size: 16px;
      @media all and (max-width: 640px){
        font-size: 14px;
        font-weight: 500;
      }
      @media all and (max-width: 450px){
        font-size: 12px;
      }
    }
  }
}
