<footer class="b-footer">
  <div class="b-footer__top">
    <div class="container">
      <div class="row">
        <nav class="navbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/'+langURL , 'pages','about-us']"> {{"footer_about" | translate}} </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/'+langURL , 'pages','legal']"> {{"footer_legal" | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/'+langURL , 'pages','privacy-policy']"> {{"footer_privacy" | translate}}</a>
            </li>
          </ul>
        </nav>
        <div class="copyright">
          <span>
            {{"footer_rights" | translate}}
          </span>

        </div>
        <div class="social-links">
          <a href="https://www.facebook.com/Be-Local-Hero-108364480799731" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/belocalhero" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

</footer>