<footer class="b-footer">
  <div class="b-footer__top">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-6">
          <div class=" b-footer__contacts">
            <h6 class="b-footer__contacts-title">
              {{"Company" | translate}}
            </h6>
            <ul class="b-footer__contacts-list">
              <li><a [routerLink]="['/'+langURL + '/pages/about-us']">{{ 'About_us' | translate }} </a></li>
              <li><a [routerLink]="['/'+langURL + '/pages/contact-us']">{{ 'Contact' | translate }}</a></li>
              <li><a [routerLink]="['/'+langURL + '/blogs']">{{ 'Blog' | translate }} </a></li>
              <li><a [routerLink]="['/'+langURL + '/pages/press']">{{ 'Press' | translate }} </a></li>
              <li><a [routerLink]="['/'+langURL + '/pages/impressum']">{{ 'Imprint' | translate }}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-6">
          <div class=" b-footer__contacts">
            <h6 class="b-footer__contacts-title">
              {{"Discover" |translate}}
            </h6>
            <ul class="b-footer__contacts-list">
              <li><a routerLink="." fragment="newsletter">{{ 'NL_subscribe' | translate }} </a></li>
              <!-- <li><a href="#"> Write a review</a></li> -->
              <li><a [routerLink]="'signin'">{{ 'sign_in' | translate }} </a></li>
              <li><a [routerLink]="['/'+langURL + '/pages/q&a']">{{ 'Questions_answers' | translate }}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class=" b-footer__contacts">
            <h6 class="b-footer__contacts-title">
              {{"Become_a_customer" |translate}}
            </h6>
            <ul class="b-footer__contacts-list">
              <li> <a [routerLink]="['/'+langURL + '/pages/advertising']">{{ 'Advertising' | translate }} </a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 ml-auto">
          <div class="social-links">
            <a target="_blank" *ngFor="let social of socialMediaData" href="{{social.url}}"><i
                class="fa {{social.name}}" aria-hidden="true"></i></a>
            <!--<a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p><span><i class="fa fa-copyright" aria-hidden="true"></i></span>
      {{"copyWrite" | translate}} <a>{{'trems_of_use' | translate }}</a> | <a>{{ 'privacy_policy' | translate }} </a> | 
      <a>{{ 'cookie_policy' | translate }}</a>
    </p>

  </div>
</footer>