<div class="single-place">
  <div class="single-place__rating">

    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 1}"></i>
    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 2}"></i>
    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 3}"></i>
    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 4}"></i>
    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 5}"></i>

    <span class="stars-count" *ngIf="starRating > 0">
      <!-- ( {{ singlePlaceDetails.comments_number }}  persons rated this place ) -->
      <!-- <a routerLink="." fragment="reviews" target="_self"> -->
     <small> {{singlePlaceDetails? singlePlaceDetails.comments_number_rated: ''}}
      person<span [hidden]="singlePlaceDetails && singlePlaceDetails.comments_number_rated < 2">s</span> rated this
      place</small>
      <!-- </a> -->
    </span>
    <span class="stars-count" *ngIf="starRating === 0">
      <small>{{"This_place_has_not_been_rated_yet!" | translate}}</small>
    </span>
  </div>

  <div class="single-place__title">
    {{ singlePlaceDetails.title ? singlePlaceDetails.title.rendered : ' '}}
    <div class="single-place__title__subtitle">
      <span *ngFor="let place of singlePlaceDetails.place_type; let i = index"> <span *ngIf="i != 0"> / </span>
        {{ singlePlaceAddress?  place.name : ' ' }} </span>

    </div>
  </div>
  <div class="single-place__address">
    <img src="./../assets/images/location-icon.svg" /> <span>
      <a target="_blank" (click)="findPlaceRoute(singlePlaceDetails.id)">
        {{ singlePlaceAddress?  singlePlaceAddress : ' ' }}
      </a></span>
  </div>

  <div class="single-place__overview">
    <h4>{{"overview" | translate}}</h4>
    <p>{{ singlePlaceAddress?  singlePlaceDetails.description : ' ' }}</p>
  </div>
  <div class="single-place__contacts">
    <h4>{{"Contact_details" | translate}}</h4>
    <div class="single-place__contacts__website">
      <img src="./../assets/images/ic-site.svg" />
      <span>{{ singlePlaceDetails.website?  singlePlaceDetails.website : ('no_website' | translate) }}</span>
    </div>
    <div class="single-place__contacts__phone">
      <img src="./../assets/images/ic-phone.svg" /> <span>
        {{ singlePlaceDetails.phone_number?  singlePlaceDetails.phone_number : ('no_phone' | translate) }}</span>
    </div>
  </div>
  <div class="single-place__decription">
    <div class="single-place__decription__list">
      <ul>
        <li>
          -  {{"size" | translate}}: {{ singlePlaceDetails.size?  singlePlaceDetails.size : '()' }}
        </li>
        <li>
          -  {{"accessable_by" | translate}}:
          <span *ngIf="singlePlaceDetails.accessible_by.length === 0">
            ()
          </span>
          <span *ngFor="let access of singlePlaceDetails.accessible_by; let i = index">
            <span *ngIf="i != 0"> / </span> {{ access }}
          </span>
        </li>
        <li>-  {{"Accessability" | translate}}:
          <span *ngFor="let access of singlePlaceDetails.accessibility; let i = index">
            <span *ngIf="i != 0"> / </span> {{ access }}
          </span>
        </li>
        <li>
          - {{"Opening_hours" | translate}}: from {{ singlePlaceDetails.hr_from?  singlePlaceDetails.hr_from : '  () ' }}
          - {{ singlePlaceDetails.hr_to?  singlePlaceDetails.hr_to : ' () ' }}
        </li>
        <li>
          - {{"foods" | translate}}:
          <span *ngIf="singlePlaceDetails.food.length === 0">
            ()
          </span>
          <span *ngFor="let food of singlePlaceDetails.food; let i = index">
            <span *ngIf="i != 0"> / </span> {{ food }}
          </span>
        </li>

        <li>
          - {{ 'distance' | translate }} {{distance? distance: ' () '}} km away from your location
        </li>
        <li>
          - {{'cost_range' | translate }}
          {{ singlePlaceDetails.price_range_from ?  singlePlaceDetails.price_range_from : '()' + 'CHF - to'}}
          {{ singlePlaceDetails.price_range_to?  singlePlaceDetails.price_range_to : ' () ' }} CHF
        </li>
      </ul>
    </div>
    <!-- <div class="single-place__decription__route">
      <span>{{"Find_route?" | translate}}</span>
      <a target="_blank" (click)="findPlaceRoute(singlePlaceDetails.id)"><img src="./../assets/images/find-route-draw.svg" /></a>
    </div> -->
  </div>
  <div class="single-place__services">
    <div class="single-place__services__blocks" *ngFor="let feature of singlePlaceDetails.features; let i = index">
      <div> <img [src]="feature.icon" /></div>
      <span>{{ feature.name }}</span>
    </div>

  </div>

</div>