<div class="single-place padding-top">
  <!-- <div class="single-place__rating">

    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 1}"></i>
    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 2}"></i>
    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 3}"></i>
    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 4}"></i>
    <i class="fa fa-star" [ngClass]="{'star-empty': starRating < 5}"></i>

    <span class="stars-count" *ngIf="starRating > 0">
    
      <small> {{singlePlaceDetails? singlePlaceDetails.comments_number_rated: ''}}
        person<span [hidden]="singlePlaceDetails && singlePlaceDetails.comments_number_rated < 2">s</span> rated this
        place</small>
    
    </span>
    <span class="stars-count" *ngIf="starRating === 0">
      <small>{{"This_place_has_not_been_rated_yet!" | translate}}</small>
    </span>
  </div> -->
  <!-- <a [routerLink]="['/'+langURL, 'edit-place', singlePlaceDetails.id, singlePlaceDetails.slug]">Edit</a> -->
  <div class="single-place__title" [innerHTML]="singlePlaceDetails.title ? singlePlaceDetails.title.rendered : ' '">
    <div class="single-place__title__subtitle">
      <span> {{singlePlaceDetails? singlePlaceDetails.place_type: ''}}</span>
      <!-- <span *ngFor="let place of singlePlaceDetails.place_type; let i = index"> <span *ngIf="i != 0"> / </span>
        {{ singlePlaceAddress?  place.name : ' ' }} </span> -->

    </div>
  </div>
  <div class="single-place__address">
    <img src="./../assets/images/location-icon.svg" /> <span>
      <a target="_blank" (click)="findPlaceRoute(singlePlaceDetails.id)">
        {{ singlePlaceDetails && singlePlaceDetails.address?  singlePlaceDetails.address.address : ' ' }}
      </a></span>
  </div>

  <div class="single-place__overview">
    <h4>{{"overview" | translate}}</h4>
    <p>{{ singlePlaceDetails?  singlePlaceDetails.description : ' ' }}</p>
  </div>

  <div class="single-place__decription">
    <div class="single-place__decription__list">
      <ul>
        <li>
          - {{"Opening_hours" | translate}}: {{"from"|translate}}
          {{ singlePlaceDetails.hr_from?  singlePlaceDetails.hr_from : '  () ' }}
          - {{"to"|translate}} {{ singlePlaceDetails.hr_to?  singlePlaceDetails.hr_to : ' () ' }}
        </li>
      </ul>
    </div>
    <!-- <div class="single-place__decription__route">
      <span>{{"Find_route?" | translate}}</span>
      <a target="_blank" (click)="findPlaceRoute(singlePlaceDetails.id)"><img src="./../assets/images/find-route-draw.svg" /></a>
    </div> -->
  </div>
  <div class="single-place__services">
    <div class="d-block" *ngIf="singlePlaceDetails && singlePlaceDetails.category">
      <h4> {{ "local_Category" | translate }}</h4>
      <ul>
        <li *ngFor="let category of singlePlaceDetails.category"> {{category}} </li>
      </ul>
    </div>
    <div class="d-block" *ngIf="singlePlaceDetails && singlePlaceDetails.delivery">
      <h4>{{ "local_Delievery" | translate }}</h4>
      <ul>
        <li *ngFor="let delivery of singlePlaceDetails.delivery"> {{delivery}} </li>
      </ul>
    </div>
    <div class="d-block" *ngIf="singlePlaceDetails && singlePlaceDetails.payment_methods">
      <h4>{{ "local_Payment_Method" | translate }}</h4>
      <ul>
        <li *ngFor="let payment of singlePlaceDetails.payment_methods"> {{payment}} </li>
      </ul>
    </div>

    <!-- <div class="single-place__services__blocks" *ngFor="let feature of singlePlaceDetails.features; let i = index">
      <div> <img [src]="feature.icon" /></div>
      <span>{{ feature.name }}</span>
    </div> -->

  </div>
  <div class="single-place__contacts">
    <h4>{{"Contact_details" | translate}}</h4>
    <div class="single-place__contacts__website">
      <img src="./../assets/images/ic-site.svg" />
      <a href="//{{ singlePlaceDetails.website?  singlePlaceDetails.website :''}} "
        target="_blank" *ngIf="singlePlaceDetails.website">{{ singlePlaceDetails.website}}</a>
      <span *ngIf="!singlePlaceDetails.website">{{'no_website' | translate}}</span>
      </div>
    <div class="single-place__contacts__website">
      <img src="./../assets/images/ic-site.svg" />
      <a href="mailto:{{ singlePlaceDetails.email?  singlePlaceDetails.email : '' }}"
      *ngIf="singlePlaceDetails.email">
        {{singlePlaceDetails.email }}
      </a>
      <span *ngIf="!singlePlaceDetails.email">{{'no_email' | translate}}</span>
    </div>
    <div class="single-place__contacts__phone">
      <img src="./../assets/images/ic-phone.svg" /> 
        <a href="tel:{{ singlePlaceDetails.phone_number?  singlePlaceDetails.phone_number: '' }}"
        *ngIf="singlePlaceDetails.phone_number && singlePlaceDetails.phone_number !== '0'">
          {{ singlePlaceDetails.phone_number }}
        </a> 
        <span *ngIf="!singlePlaceDetails.phone_number || singlePlaceDetails.phone_number === '0' ">{{'no_phone' | translate}}</span>
    </div>
  </div>
</div>