@import '../../../variables';
@import '../../../fonts';

.login-form {
    margin-top: $mr-60;
    
   
    .help-block {
        color         : $mainColor;
    }
    .btn-wrapper{
        margin-top: $mr-40;
        display: flex;
        align-items: center;
        
        &.social-buttons-login{
            flex-direction: column;

            .btn{
                padding     : $mr-15 $mr-40;
                opacity     : 1;
                color: $white;
                width: 300px;
                margin-bottom: $mr-15;
                display: flex;
                align-self: center;
                justify-content: center;
                cursor: pointer;
            
                .img{
                    align-items: center;
                    display: flex;
                    margin-right: $mr-15;
                } 
            }
            .btn-blue{
                color: #fff !important;
                .img{
                    width: 8px;
                }
            }
        }
        
        .btn-white{
            .img{
                width: 18px;
            }
        }
        .forget-password{
            color: $darkBlueGrey;
            font-weight: 500;
            @media all and (max-width: $lg){
              color: $white;
            }
        }
    }
    .terms-link{
       margin-left: auto;
       @include text-regular();
       color:$darkBlueGrey;
        @media(max-width: $lg){
            margin-left: 0;
            color: $white;
        }
    }

    .form-text{
        @include text-regular();
    }
    .form-group {
        position     : relative;
        margin-bottom: $mr-20;
        clear        : both;
        display      : table;
        width        : 100%;
    
        .text-muted {
            @include text-huge-regular();
            margin: 0 0 $mr-15 0;
        }

        label {
            color: $darkBlueGrey;
            @include H6-bold();
        }

        .form-control {
            height      : 42px;
            border-color: $darkBlueGrey;

            &.ng-invalid {
                &.ng-touched {
                    border-color: $mainColor !important;
                }

            }
        }

        .form-half-width {
            width: 48%;
            float: left;

            &:last-child {
                float: right;
            }
        }

        .dropdown {
            position: relative;
            select {
                width           : 100%;
                height          : 42px;
                background-color: #fff;
                color           : $darkBlueGrey;
                border-color    : $darkBlueGrey;
                border-radius   : 5px;
                background-image: url('../../../assets/images/drop-down.svg');
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: 98% 10px;
                @include text-regular();
            }
        }
    }
}