<!-- <div class="container"></div> -->
<router-oultet></router-oultet>
<app-map></app-map>
<!-- <app-featured-place-ad [FaturedAddItemsChild]="getPlaceId" *ngIf="getPlaceId"></app-featured-place-ad>
<div *ngFor="let category of placesCategories">
<app-categories-slider *ngIf="category.id"
	
	[placesCategoriesChildId]="category.id"
	[placesCategoriesChildName]="category.name">
</app-categories-slider>
</div> -->
<!-- <div *ngIf="favoritePlacesSlider">
	<app-categories-slider 
	[favoritePlacesSliderChild]="favoritePlacesSlider"></app-categories-slider>
</div> -->
<!-- <app-testimonials [testimonialsDataChild]="GetTestimonialsItem" *ngIf="GetTestimonialsItem"></app-testimonials> -->
<!-- <app-who-we-are  [testWhoWeAreDataChild]="testWhoWeAre"  *ngIf="testWhoWeAre"></app-who-we-are> -->
<!-- <app-newsletter id="newsletter"></app-newsletter> -->