@import '../../../../variables';
@import '../../../../fonts';
@import '../../../../mixins';

.password-form {

    .btn-wrapper {
        margin: $mr-15 0;
    }
    label{
        margin-bottom: $mr-10;
    }
    .edit-profile {
        .btn-secondrary {
            margin-left: auto;
            display    : flex;
            padding    : $mr-10 $mr-30;
            cursor     : pointer;
        }
    }

    .help-block {
        color         : $mainColor;
    }

    .btn-wrapper {
        display    : flex;
        align-items: center;

        @media(max-width: $lg) {
            flex-direction: column;
        }
    }

    .terms-link {
        margin-left: auto;
        @include text-regular();

        @media(max-width: $lg) {
            margin-left: 0;
            color      : $white;
        }
    }

    .btn-primary {
        background  : $btnColor;
        border-color: $btnColor;
        padding     : $mr-10 $mr-40;
        opacity     : 1;

        @media all and (max-width: $lg) {
            display      : block;
            width        : 100%;
            margin-bottom: $mr-20;
        }
    }

    .form-text {
        @include text-regular();
    }

    .form-group {
        position      : relative;
        margin-bottom : $mr-20;
        clear         : both;
        display       : table;
        width         : 100%;

        .text-muted {
            @include text-huge-regular();
            margin: 0 0 $mr-15 0;
        }

        label {
            color: $form-text;
            @include text-huge-regular();
        }

        .form-control {
            height      : 42px;
            border-color: $orange-border;

            &.ng-invalid {
                &.ng-touched {
                    border-color: $mainColor !important;
                }

            }
        }

        .form-half-width {
            width: 48%;
            float: left;

            &:last-child {
                float: right;
            }
        }
    }
}