<div *ngIf="isLoading" class="loading-spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>
<div class="page-content container padding-top">
    <div class="row">
        <div class="edit-places">
            <h1>{{"local_edit_business" | translate }} </h1>
            <p>{{ "Business_register_text_1" | translate }}</p>
            <p>{{ "Business_register_text_2" | translate }}: <a
                    href="mailto: act@belocalhero.com">act@belocalhero.com</a>
        </div>
        <form (ngSubmit)="updatePlace(editPlace)" name="editPlace" #editPlace="ngForm">
            <div class="form-group">
                <h4 class="subtitle">{{"local_bussiness_name" | translate}} (*):</h4>
                <div class="form-group">
                    <input type="text" class="form-control col-12" [ngModel]="placeData?placeData.title.rendered: ''"
                        name="placename" #placename="ngModel" required>
                    <small class="help-block"
                        *ngIf="!placename.valid && placename.touched && placename.errors.required">{{'field_requird'  | translate }}</small>
                </div>
            </div>
            <div class="form-group">
                <h4 class="subtitle">{{"local_Address" | translate}} (*):</h4>
                <div class="map-filters__search">
                    <div class="form-group">
                        <input type="text" class="form-control search-btn" (keydown.enter)="$event.preventDefault()"
                            placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off"
                            spellcheck="off" type="text" #search [(ngModel)]="placeName"
                            name="address" #address="ngModel" required>
                        <p class="help-block" *ngIf="!address.valid && address.touched && address.errors.required">
                            {{'field_requird'  | translate }}</p>
                        <p class="help-block" *ngIf="address.touched && !latitude && !longitude">You must choose the
                            address from the autocomplete list above!</p>
                    </div>
                </div>
                <!-- <agm-map [streetViewControl]="streetViewControl" [zoom]="zoom" 
                [latitude]="latitude" [longitude]="longitude"
                [scrollwheel]="false">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map> -->
            </div>

            <div class="form-group">
                <h4 class="subtitle">{{"local_Phonenumber" |translate}}</h4>
                <div class="form-group">
                    <input type="text" class="form-control col-12" [ngModel]="placeData?placeData.phone_number: ''"
                        name="phone" #phone="ngModel">
                    <!-- <p class="help-block" *ngIf="!phone.valid && phone.touched && phone.errors.pattern">Please enter a
                        valid phone number.</p> -->
                </div>
            </div>

            <div class="form-group">
                <h4 class="subtitle">{{"local_Emailadress" |translate}} (*)</h4>
                <div class="form-group">
                    <input type="email" class="form-control col-12" [ngModel]="placeData?placeData.email: ''"
                        name="placeemail" #placeemail="ngModel" required>
                    <small class="help-block"
                        *ngIf="!placeemail.valid && placeemail.touched && placeemail.errors.required">{{'field_requird'  | translate }}</small>
                </div>
            </div>

            <div class="form-group">
                <h4 class="subtitle">{{"local_Website" | translate}}</h4>
                <div class="form-group">
                    <input type="url" class="form-control col-12" [ngModel]="placeData?placeData.website: ''"
                        name="website" #website="ngModel"
                        pattern="^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}">
                    <p class="help-block" *ngIf="!website.valid && website.touched && website.errors.pattern">
                        Please enter a valid url.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <h4 class="subtitle">{{"local_zip_code" |translate}}</h4>
                <div class="form-group">
                    <input type="text" class="form-control col-12" [ngModel]="placeData?placeData.zipcode: ''"
                        name="zipcode" #zipcode="ngModel" pattern="^[a-zA-Z0-9_]*$">
                    <p class="help-block" *ngIf="!zipcode.valid && zipcode.touched && zipcode.errors.pattern">Please
                        enter a
                        valid zipcode.</p>
                </div>
            </div>

            <div class="form-group">
                <h4 class="subtitle">{{"local_Description" |translate}}
                    <small>({{ "local_Description_2" | translate }})</small> (*)</h4>
                <div class="form-group">

                    <ckeditor [editor]="Editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList','numberedList'],
                    heading: {
                      options: [ { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' }
                      ]}}"
                      [ngModel]="placeData?placeData.description: ''" name="description" #description="ngModel"
                      required></ckeditor>
                    <!-- <textarea type="text" class="form-control" [ngModel]="placeData?placeData.description: ''"
                        name="description" #description="ngModel" required></textarea> -->
                    <small class="help-block"
                        *ngIf="!description.valid && description.touched && description.errors.required">{{'field_requird'  | translate }}</small>
                </div>
            </div>

            <div class="form-group">
                <h4 class="subtitle">{{"local_Type" |translate}} (*):</h4>
                <div class="form_wrapper radio-input">
                    <p *ngFor='let subCat of formType; let i = index;'>
                        <input type="radio" [value]="subCat.name" name="subcats" [(ngModel)]="selected"
                            #subcats="ngModel" required>
                        <label for="cat{{i}}"> {{subCat.name}}</label><br>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <h4 class="subtitle">{{"local_Category" |translate}} :</h4>
                <div class="checkbox_wrapper">
                    <div class="form-half-width"
                        *ngFor="let category of formCategories;  let i = index;let result of resultCategory">
                        <label class="form-check-label" for="{{category.name}}">
                            <input class="form-check-input" type="checkbox" name="{{category.name}}"
                                id="{{category.name}}" [(ngModel)]="formCategories[i].checked"
                                [checked]="formCategories[i].checked">
                            <span [innerHTML]="category.name"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h4 class="subtitle">{{"local_Delievery" |translate}} (*) :</h4>
                <div class="checkbox_wrapper">
                    <div class="form-half-width"
                        *ngFor="let deliver of formDelivery;  let i = index; let result of resultDelivery">
                        <label class="form-check-label" for="{{deliver.name}}">
                            <input class="form-check-input" type="checkbox" name="{{deliver.name}}"
                                id="{{deliver.name}}" ngModel [(ngModel)]="formDelivery[i].checked"
                                [checked]="formDelivery[i].checked">
                            <span [innerHTML]="deliver.name"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h4 class="subtitle">{{"local_Payment_Method" | translate}} :</h4>
                <div class="checkbox_wrapper">
                    <div class="form-half-width"
                        *ngFor="let payment of formPaymentMethod;  let i = index;let result of resultPayment">
                        <label class="form-check-label" for="{{payment.name}}">
                            <input class="form-check-input" type="checkbox" name="{{payment.name}}"
                                id="{{payment.name}}" ngModel [(ngModel)]="formPaymentMethod[i].checked"
                                [checked]="formPaymentMethod[i].checked">
                            <span [innerHTML]="payment.name"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group hour ">
                <h4 class="subtitle">{{"local_Opening_hours" | translate}} :</h4>
                <div class="form_wrapper">
                    <div class="form-half-width">

                        <div class="default-time-example">
                            <label>{{"from" |translate}}</label>
                            <input aria-label="default time" [ngxTimepicker]="toggleTimepickerFrom"
                                [(value)]="timePickerFrom">
                            <ngx-material-timepicker #toggleTimepickerFrom></ngx-material-timepicker>
                        </div>
                    </div>
                    <div class="form-half-width">
                        <div class="default-time-example">
                            <label>{{"to" |translate}}</label>
                            <input aria-label="default time" [ngxTimepicker]="toggleTimepickerTo"
                                [(value)]="timePickerTo">
                            <ngx-material-timepicker #toggleTimepickerTo></ngx-material-timepicker>
                        </div>
                    </div>
                </div>
            </div>
            <h5> {{"cover_image_select_msg" | translate}} (*):</h5>
            <small [hidden]="!noImages">Please add a least one image</small>
            <div class="data-text" *ngIf="placeData && placeData.images">
                <div class="custom-control custom-radio radio-form" *ngFor='let imageUrl of allPlaceImages; let i = index;'>
                    <a (click)="removeImage(i, imageUrl.url)" class="remove-image"><i class="fa fa-trash"></i></a>
                    <input id="image{{i}}" type="radio" class="custom-control-input" [value]="imageUrl.url"
                        name="placesimages" [(ngModel)]="newplaceFeaturedImage[0].url" #placesimages="ngModel"
                        (change)="selectedFeaturedImage(imageUrl.name, imageUrl.url)">
                    <label class="custom-control-label" for="image{{i}}">
                        <img [src]="imageUrl.url" />
                    </label>
                    <p>{{ imagesNames[i] }}</p>
                </div>
            </div>
            <div class="form-group form-image">
                <a data-toggle="modal" data-target="#profileImageCropper" [ngClass]="maxNumber? 'upload-disabled': ''"
                    [disabled]="maxNumber">
                    <div class="input-content">
                        <div class="input-content-wrapper">
                            <div class="img">
                                <img src="assets/images/photo.svg" alt="">

                            </div>
                            <span class="text" [hidden]="maxNumber">
                                {{"upload_image_msg" | translate}}
                                <!-- <a (click)="compressFile($event)">{{maxNumber}}  Upload and compress Image</a> -->
                            </span>
                            <span class="text" [hidden]="!maxNumber">{{"upload_image_error" | translate}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="modal fade" id="profileImageCropper" tabindex="-1" role="dialog"
                aria-labelledby="profileImageCropper" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'upload_picture' | translate }} </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                [aspectRatio]="4 / 4" [resizeToWidth]="500" [roundCropper]="false" [cropper]="cropper"
                                format="png" (imageCropped)="imageCropped($event)" (loadImageFailed)="loadImageFailed()">
                            </image-cropper>
                            <input id="fileInput" type='file' (change)="fileChangeEvent($event)">
                            <label for="fileInput"> {{ 'choose_new_picture' | translate }} </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-original" data-dismiss="modal"
                                (click)="updateProfilePicture()">
                                {{ 'save_changes' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <button class="Addnew-btn" type="submit" class="btn btn-original" 
            [disabled]="!editPlace.valid || (allPlaceImages.length === 0)">
                {{"local_add_bussiness" | translate}}</button> -->
                <button class="Addnew-btn" type="submit" class="btn btn-original" 
                >
                    {{"local_add_bussiness" | translate}}</button>
               
        </form>
    </div>
</div>