@import '../../../variables';
@import '../../../fonts';

.registeration-form {
    margin-top: $mr-60;

    .row{
        min-height: 100vh;
    }
   
    .help-block {
        color         : $mainColor;
    }
    .btn-wrapper{
        display: flex;
        align-items: center;
        @media(max-width: $lg){
            flex-direction: column;
        }
    }
    a{
        @include text-regular();
        color:$darkBlueGrey;
    }
    .terms-link{
       margin-left: auto;
       @include text-regular();
       color:$darkBlueGrey;
        @media(max-width: $lg){
            margin-left: 0;
            color: $white;
        }
    }
    .btn-primary {
        background  : $localSecondary;
        border-color: $localSecondary;
        padding     : $mr-10 $mr-40;
        opacity     : 1;

        @media all and (max-width: $lg){
            display: block;
            width: 100%;
            margin-bottom: $mr-20;
        }
    }
    .form-text{
        @include text-regular();
    }
    .form-group {
        position     : relative;
        margin-bottom: $mr-20;
        clear        : both;
        display      : table;
        width        : 100%;
    
        .text-muted {
            @include text-huge-regular();
            margin: 0 0 $mr-15 0;
        }

        label {
            color: $darkBlueGrey;
            @include H6-bold();
        }

        .form-control {
            height      : 42px;
            border-color: $darkBlueGrey;

            &.ng-invalid {
                &.ng-touched {
                    border-color: $mainColor !important;
                }

            }
        }

        .form-half-width {
            width: 48%;
            float: left;

            &:last-child {
                float: right;
            }
        }

        .dropdown {
            position: relative;
            select {
                width           : 100%;
                height          : 42px;
                background-color: #fff;
                color           : $darkBlueGrey;
                border-color    : $darkBlueGrey;
                border-radius   : 5px;
                background-image: url('../../../assets/images/drop-down.svg');
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: 98% 10px;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                appearance: none;
                @include text-regular();
            }
        }
    }
}