<div *ngIf="isLoading" class="loading-spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>

<div class="inner-pages">
    <div class="container">
<h1>Be Local Hero Nutzungsbedingungen</h1>
<p>
    Allgemeine Geschäftsbedingungen von Be Local Hero für die Nutzung des Angebots unter www.be-local-hero.com /
    www.belocalhero.com und der entsprechenden mobilen Applikation.</p>
    <h5>Präambel </h5>
<p> Die Nutzungsbedingungen verwenden lediglich die männliche Form, gemeint sind aber selbstverständlich beide
    Geschlechter.</p>
<ul>
    <li><h5>1. Geltungsbereich</h5>
        Be Local Hero ist kostenlos. Die Website www.be-local-hero.com und die entsprechende mobile Applikation
        („Plattform“) sowie die mittels dieser Plattform angebotenen Dienstleistungen werden von der Modeso GmbH und der
        co-co-co GmbH („Betreiberin“) zur Verfügung gestellt. Die vorliegenden Nutzungsbedingungen gelten für alle
        juristischen und natürlichen Personen, welche die Plattform in irgendeiner Weise nutzen („Nutzer“). Dies gilt
        unabhängig davon, ob der Zugriff auf die Plattform in der Schweiz oder im Ausland erfolgt.
    </li>
    <li><h5>2. Verpflichtung zur Einhaltung der Nutzungsbedingungen</h5>
        Durch den Zugriff auf und die Nutzung der Plattform erklärt der Nutzer ausdrücklich seine Zustimmung zu den
        vorliegenden Nutzungsbedingungen und den Datenschutzrichtlinien von Be Local Hero. Der Nutzer verpflichtet sich
        mittels Nutzung der Website, die vorliegenden Nutzungsbedingungen einzuhalten.
    </li>
    <li><h5>3. Haftung von Be Local Hero</h5>
        <ul>
            <li><h5>3.1 Haftungsausschluss betreffend Inhalte</h5>
                Die Betreiberin kann trotz sorgfältiger Prüfung und grossem Einsatz nicht garantieren, dass die
                publizierten Inhalte der Plattform stets aktuell, richtig und vollständig sind. Aus diesem Grund lehnt
                die Betreiberin jegliche Haftung für die Aktualität, die Korrektheit und die Vollständigkeit der Inhalte
                der Plattform ab.
            </li>
            <li><h5>3.2 Haftungsausschluss betreffend Datensicherheit und allgemeine Risiken im Umgang mit Computern und
                mobilen Geräten</h5>
                Die Betreiberin nimmt angemessene physische, technologische und administrative Sicherheitsmassnahmen in
                Anspruch und versucht diese, soweit die Umstände es erlauben, anzuwenden. Allerdings besteht keine
                Methode der Datenübermittlung und -aufbewahrung im Internet, die 100% sicher ist. Obwohl sich die
                Betreiberin im Rahmen finanziell tragbarer Mittel bemüht, die persönlichen Informationen ihrer Nutzer zu
                schützen, kann sie deren absolute Sicherheit nicht garantieren. Die Betreiberin übernimmt keine
                Gewährleistung für die Sicherheit der Daten (Chatmitteilungen, Offline-Messages, Beiträge, usw.).
                Insbesondere kann keine Gewährleistung übernommen werden, dass bezüglich der Up- und Downloads mittels
                Verwendung der Plattform keinerlei Schäden am Computer oder an anderen mobilen Geräten entstehen können.
                Bezüglich jeglicher Art von Störungen der Technik wird somit nicht gehaftet. Die Betreiberin übernimmt
                insbesondere keine Gewährleistung für die Funktionsfähigkeit und die Verfügbarkeit der Plattform, und
                die vollständige und korrekte Wiedergabe der Inhalte. Dies gilt im Besonderen auch für die von Nutzern
                erstellten Inhalte.
                Sollte die Betreiberin von einem Sicherheitsverstoss erfahren, welcher in einem rechtswidrigen Zugriff
                auf individuelle Nutzer-Daten resultiert, wird die Betreiberin versuchen, den betreffenden Nutzer
                elektronisch darüber zu informieren, damit der Nutzer angemessene Sicherheitsvorkehrungen treffen kann.
            </li>
            <li><h5>3.3 Haftungsausschluss betreffend Phishing</h5>
                Identitätsdiebstahl und “Phishing” sind für die Betreiberin eine ernsthafte Angelegenheit. Informationen
                über Sicherheitsmassnahmen, die helfen, ihre Identität zu schützen, haben höchste Priorität. Be Local
                Hero wird seine Nutzer niemals auffordern, ihre Kreditkarteninformationen, Konto-ID, ihr Passwort oder
                ihre Personalausweis- oder Passnummer in einer nicht sicheren oder unaufgeforderten E-Mail oder in einem
                Telefongespräch offenzulegen. Die Betreiberin übernimmt keine Haftung für Phishingfälle.
            </li>
        </ul>
    </li>
    <li><h5>4. Alleinige Verantwortung des Nutzers für die Beiträge</h5>
        Der Nutzer trägt für seine Beiträge die alleinige Verantwortung. Stellt er einen Beitrag in irgendeiner Form
        online, so bestätigt er, dass er die anwendbare Rechtsordnung, die Rechte Dritter, die guten Sitten, die
        Umgangsformen und die Verhaltensregeln im Internet (Netiquette, Chatiquette) beachtet. Insbesondere bestätigt
        der Nutzer, dass ihm sämtliche Rechte an den hochgeladenen Beiträgen zustehen und er über die erforderlichen
        Zustimmungen Dritter verfügt.
        Der Nutzer verpflichtet sich insbesondere dazu, keine Inhalte mit Hilfe der Plattform zu laden, zu speichern, zu
        verbreiten, zu präsentieren, oder öffentlich zugänglich zu machen, zu veröffentlichen und auf sie zu verweisen
        oder zu verlinken, die
        Persönlichkeitsrechte und/oder Rechte Dritter verletzen (z.B. Patent-, Urheber-, Markenrechte,
        Geschäftsgeheimnisse)
        als obszön, beleidigend, ehrverletzend, bedrohend, anstössig, pornografisch, gewaltverherrlichend, belästigend,
        für Minderjährige ungeeignet, rassistisch, volksverhetzend, ausländerfeindlich, rechtsradikal,
        wettbewerbsverletzend, Aufforderungen zu Gewalt oder sonstigen Straftaten beinhalten oder als sonst verwerflich
        anzusehen sind,
        unsachlich sind oder keinen Bezug zum kommentierten Inhalt aufweisen,
        Viren oder unaufgeforderte Massensendungen (so genannte "Spam") enthalten oder darstellen,
        zur Teilnahme an Kettenbrief-, Pyramidenspiel- und Gratisaktien-Aktionen auffordern und/oder kommerzielle oder
        sonst gewerbliche Zwecke verfolgen.

        <ul>
            <li>
                <h5>4.1 Alleinige rechtliche Verantwortung des Nutzers bezüglich seiner Beiträge</h5> 
                Bei Verfehlungen oder Verstössen gegen die Rechtsordnung sowie die vorliegenden Nutzungsbedingungen
                trägt der Nutzer allfällige rechtliche Konsequenzen alleine.
                Der Nutzer stellt Be Local Hero, die Betreiberin sowie deren Organe, Mitarbeiter sowie Hilfspersonen von
                berechtigten Ansprüchen Dritter frei, die aufgrund eines vom Nutzer auf der Plattform verbreiteten und
                öffentlich zugänglich gemachten Inhalts oder dem Verhalten des Nutzers geltend gemacht werden. Der
                Nutzer übernimmt somit die Bearbeitung und Abwehr jeglicher Rechtsstreitigkeiten,
                Schadenersatzforderungen, anderer Klagen und Ansprüchen. Insbesondere hat der Nutzer alle gerichtlichen
                und aussergerichtlichen Kosten zu tragen, welche zur Wahrung der Rechte der Betreiberin, deren Organe,
                Mitarbeiter sowie Hilfspersonen anfallen.

            </li>
            <li>

                <h5>4.2 Löschung von Beiträgen</h5> 
                Die Betreiberin und ihre Administratoren sind berechtigt, jederzeit nach ihrem alleinigen Belieben
                einzelne Beiträge oder Teile von Beiträgen zu löschen. Unabhängig von dem vorgenannten Recht, wird die
                Betreiberin Beiträge entfernen, die gegen Ziff. 4 verstossen. Ein Anspruch des Nutzers auf eine solche
                Massnahme, auch im Hinblick auf Beiträge Dritter, besteht jedoch nicht. Die Betreiberin wird die Nutzer
                im Regelfall über die Löschung ihres Beitrages informieren. Ein Anspruch des Nutzers auf Information
                besteht nicht.

            </li>
        </ul>
    </li>
    <li><h5>13. Schlussbestimmungen</h5>
        <ul>
            <li><h5>13.1 Mitteilungen</h5>
                Mitteilungen der Plattform an den Nutzer erfolgen per E-Mail oder Be Local Hero Messagebox. Die Nutzer
                erklären sich
                einverstanden, dass sie von der Plattform über Neuerungen und Angebote jeglicher Art per E-Mail oder Be
                Local Hero
                Messagebox informiert werden können. Sofern für Erklärungen und Rechtsgeschäfte ein Datum und/oder eine
                Uhrzeit
                massgeblich ist, ist das angezeigte Server-Datum und die angezeigte Server-Zeit der Plattform
                ausschlaggebend.
            </li>
            <li><h5>13.2 Änderungen der Nutzungsbedingungen</h5>
                Die Betreiberin behält sich das Recht vor, die vorliegenden Nutzungsbedingungen jederzeit zu ändern.
                Über die Änderungen
                wird die Betreiberin auf der Plattform informieren. Die Änderungen der Nutzungsbedingungen gelten als
                vom Nutzer
                genehmigt, wenn er Angebote der Plattform nach Ablauf eines Monats nach Inkrafttreten der neuen
                Nutzungsbedingungen
                weiterhin nutzt oder nicht.
            </li>
            <li><h5>13.3 Anwendbares Recht</h5>
                Auf alle Verträge zwischen der Betreiberin und den Nutzern ist das Schweizerische Recht, unter
                Ausschluss von
                Kollisionsnormen, des UN-Kaufrechts und von Staatsvertragsrecht anwendbar.
            </li>
            <li><h5>13.4 Salvatorische Klausel</h5>
                Sollten einzelne Bestimmungen dieser Nutzungsvereinbarung bzw. der Datenschutzrichtlinien unwirksam oder
                unvollständig
                sein oder sollte die Erfüllung unmöglich werden, so wird hierdurch die Wirksamkeit der übrigen Teile des
                Vertrages nicht
                beeinträchtigt.
            </li>
        </ul>
    </li>
</ul>
</div>
</div>