<div class="message-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 message-text">
                <!-- <h1>{{thankYouNames? thankYouNames.title : ''}}</h1>
                <h2>{{thankYouNames? thankYouNames.sub_title: ''}}</h2> -->
               <h1>{{ "thank_you" | translate }}</h1> 
               <h2>{{ "place_added" | translate }}</h2> 

                <a [routerLink]="['/'+langURL]" class="btn btn-original" style="margin-top: 40px;">
                    <span>{{'to_map' | translate}}</span>
                </a>
            </div>
              <!-- <div class="col-md-6 illustrtion-bg"></div> -->
        </div>
      </div>
</div>