<!-- 
<div class="language_banner"  [ngClass]="{ 'hide-lang-banner': hideLanguageBanner === true }">
    <i class="fa fa-globe  earth_icon" aria-hidden="true"></i>
    {{ 'visit_website_in'  | translate }}
   <span class="color_black" (click)="useLanguage('en')">{{ "English" | translate }}</span> {{ 'OR' | translate }} 
   <span class="color_black" (click)="useLanguage('de')">{{ "German" | translate }} </span>  
   <div class="close">
    <i class="fa fa-close" aria-hidden="true" (click)="hideBanner()"></i>
   </div>
</div> -->
<app-header></app-header>

<div class="registration-form-section padding-top">
  <div class="container-fluid">
    <div class="row">
    
      <div class="col-lg-5 no-padding">
        <div class="registration-form-section__Background">
         <h1>{{"local_login_header" | translate }}</h1>

         <p>{{"local_login_text_1" | translate }}</p> <br/>
         <p>{{"local_login_text_2" | translate }}</p><br/>
         <p>{{"local_login_text_3" | translate }}</p>
         <p>{{"local_login_text_4" | translate }}</p>
         <p>{{"local_login_text_5" | translate }}</p><br/>
         <p>{{"local_login_text_6" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-7 no-padding">
        <div class="registration-form-section__form">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab"
              [ngClass]="{ 'active show': showSignUpForm === true }">
              <h2>{{ 'Register' | translate }}</h2>
              <app-registeration></app-registeration>

              <p style="font-weight: bold; margin-top: 30px; margin-bottom: 10px">{{ 'already_have_account' | translate }}</p>
              <a class="btn btn-original btn-signup" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                aria-controls="signin" aria-selected="false" [ngClass]="{ 'active': showSigninForm === true }"
                [routerLink]="['/'+langURL , 'signin']">{{ 'signin' | translate }} </a>
            </div>
            <div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="signin-tab"
              [ngClass]="{ 'active show': showSigninForm === true }">
              <h2>{{ 'signin' | translate }}</h2>
              <app-login></app-login>
              
              
              <p style="font-weight: bold; margin-top: 30px; margin-bottom: 10px">{{ 'dont_have_account' | translate }}</p>
              <a class="btn btn-original btn-signup" id="register-tab" data-toggle="tab" href="#register" role="tab"
                aria-controls="register" aria-selected="true" [ngClass]="{ 'active': showSignUpForm === true }"
                [routerLink]="['/'+langURL , 'signup']">{{ 'Register' | translate }} </a>
            </div>
            
            <div class="tab-pane fade" id="resetpass" role="tabpanel" aria-labelledby="resetpass-tab"
              [ngClass]="{ 'active show': showResetPasswordForm === true }">
              <app-forgot-password></app-forgot-password>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>