@import '../../variables';
@import '../../fonts';


.registration-form-section {
    background-color: $localPrimary;
    &.padding-top {
        padding-top: 125px;
      }
    .no-padding{
        background-color: $localPrimary;
    }
    .auth-form{
        margin-top: 60px;
    }
    .row{
        min-height: 100vh;
    }

    @media(max-width:$lg) {
        background-position: center;
        min-height         : 100%;
        display: block;
        position: relative;
        overflow-x: hidden;
    }

    &__Background {
        background-color: $localPrimary;
        min-height         : 100%;
        padding            : $authenticationPadding;
        display: block;
        position: relative;
        overflow-x: hidden;

        p{
            line-height: 27px;
            font-weight: 500;
        }

        @media(max-width:$lg) {
            height          : auto;
            background-image: none;
            padding         : 85px 30px 30px;
        }
    }
    &__logo-wrapper{
        height       : 65px;
        width        : 65px;
        &:hover{
            text-decoration: none;
        }  
    }
    &__logo-text {
        font-family: "AbrilFatface-Regular";
        color: $darkBlueGrey;
        font-weight: 100;
        font-size: 40px;

        @media(max-width:$lg) {
            height: 29px;
        }
    }
    &__logo {
        margin-bottom: $mr-30;
        height       : 95px;
        width        : 215px;
        display      : block;

        @media(max-width:$lg) {
            height       : 45px;
            width        : 45px;
            margin-bottom: $mr-20;
        }

        
    }
    

    

    &__form {
        background-color: $localPrimary;
        padding: $authenticationPadding;
        min-height: 100vh;
        @media(max-width:$lg) {
            padding: $padding29;
        }

        .nav-tabs {
            border: none;
            // margin-bottom: $mr-40;
            .nav-link {
                @include H4-bold();
                padding: 0;
                background-color: #000;
                color : #fff;
                outline: none;
                border: 2px solid #000;
                border-radius: 0;
                padding: 10px;

                transition: all 0.3s ease-in;
                -webkit-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                -ms-transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;

                &:hover{
                    background-color: $localSecondary;
                    color:  #000;
                    border: 2px solid  #000;
                }
                &.active {
                    background-color: #fff;
                    border: 0px;
                    color:  #000;
                    border: 2px solid  #000;

                    &:hover{
                        background-color: $localSecondary;
                        color:  #000;
                        border: 2px solid  #000;
                    }
                }

                &:first-child {
                    margin-right: auto;
                }
            }
        }
    }
    #resetpass-tab{
        text-align: center;
        color: $localSecondary;
        text-decoration: underline;
        font-weight: bold;
        width: 200px;
        margin: auto;

        &:hover{
            color:  $localSecondary;
        }
        @media all and (max-width: 992px){
           

            &:hover{
                color: $darkBlueGrey;
            }
        }
    }
}
.language_banner {
    background: $localSecondary;
    width: 100%;
    position: fixed;
    z-index: 99;
    color: white;
    padding: 10px;
    letter-spacing: 2px;
    word-spacing: 4px;

    @media all and (max-width: 640px){
        font-size: 12px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    &.hide-lang-banner{
        display: none;
    }

}
.earth_icon {
    padding-left: 5px;
}
.color_black{
    color: black;
    font-weight: 999;
    cursor: pointer;
    font-size: 14px;
    @media all and (max-width: 640px){
        font-size: 12px;
    }
}