
<div class="language_banner"  [ngClass]="{ 'hide-lang-banner': hideLanguageBanner === true }">
    <i class="fa fa-globe  earth_icon" aria-hidden="true"></i>
    {{ 'visit_website_in'  | translate }}
   <span class="color_black" (click)="useLanguage('en')">{{ "English" | translate }}</span> {{ 'OR' | translate }} 
   <span class="color_black" (click)="useLanguage('de')">{{ "German" | translate }} </span>  
   <div class="close">
    <i class="fa fa-close" aria-hidden="true" (click)="hideBanner()"></i>
   </div>
</div>

<div class="registration-form-section">
  <div class="container-fluid">
    <div class="row">
    
      <div class="col-lg-5 no-padding">
        <div class="registration-form-section__Background">
          <a href="#" class="registration-form-section__logo-wrapper">
            <img src="../../assets/images/logo.svg" alt="" class="registration-form-section__logo">
            <h1 class="registration-form-section__logo-text">
              Local support
            </h1>
          </a>
        </div>
      </div>
      <div class="col-lg-7 no-padding">
        <div class="registration-form-section__form">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                aria-controls="register" aria-selected="true" [ngClass]="{ 'active': showSignUpForm === true }"

                [routerLink]="'/signup'">{{ 'Register' | translate }} </a>
              <a class="nav-item nav-link" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                aria-controls="signin" aria-selected="false" [ngClass]="{ 'active': showSigninForm === true }"
                [routerLink]="'/signin'">{{ 'signin' | translate }} </a>

            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab"
              [ngClass]="{ 'active show': showSignUpForm === true }">
              <app-registeration></app-registeration>
            </div>
            <div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="signin-tab"
              [ngClass]="{ 'active show': showSigninForm === true }">
              <app-login></app-login>
              <a [routerLink]="'/forgot-password'" class="forget-password"
                [ngClass]="{ 'active': showResetPasswordForm === true }" class="nav-item nav-link" id="resetpass-tab"
                data-toggle="tab" href="#resetpass" role="tab" aria-controls="resetpass" aria-selected="true">
                {{ 'Forget_password' | translate }}? </a>
            </div>
            <div class="tab-pane fade" id="resetpass" role="tabpanel" aria-labelledby="resetpass-tab"
              [ngClass]="{ 'active show': showResetPasswordForm === true }">
              <app-forgot-password></app-forgot-password>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>