<!-- 
<div class="language_banner"  [ngClass]="{ 'hide-lang-banner': hideLanguageBanner === true }">
    <i class="fa fa-globe  earth_icon" aria-hidden="true"></i>
    {{ 'visit_website_in'  | translate }}
   <span class="color_black" (click)="useLanguage('en')">{{ "English" | translate }}</span> {{ 'OR' | translate }} 
   <span class="color_black" (click)="useLanguage('de')">{{ "German" | translate }} </span>  
   <div class="close">
    <i class="fa fa-close" aria-hidden="true" (click)="hideBanner()"></i>
   </div>
</div> -->
<app-header></app-header>

<div class="registration-form-section padding-top">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-5 no-padding">
        <div class="registration-form-section__Background">
          <h1>{{"local_login_header" | translate }}</h1>
          <!-- <p>{{"local_login_text_1" | translate }}</p> 
         <p>{{"local_login_text_2" | translate }}</p>
         <p>{{"local_login_text_3" | translate }}</p>
         <p>{{"local_login_text_4" | translate }}</p>
         <p>{{"local_login_text_5" | translate }}</p>
         <p>{{"local_login_text_6" | translate }}</p> -->
          <p>Be Local Hero hat sich zur Aufgabe gemacht, lokale Geschäfte und Organisationen in dieser schwierigen Zeit
            zu unterstützen!
            Ziel ist die Förderung der Solidarität und die Vernetzung von Anbietern und Kunden – kostenlos und
            gemeinnützig.</p>
          <h6>Zwei einfache Schritte, um dich sichtbar zu machen: </h6>
          <p>1. Erstelle dein Profil mit deinem Namen und deiner E-Mail-Adresse oder via Facebook (diese Daten werden
            nicht veröffentlicht). Mit dem Profil kannst du dann beliebig viele Angebote erstellen, bearbeiten oder auch
            wieder löschen.</p>
          <p>2. Fülle das Formular mit allen wichtigen Angaben aus – zu dir, deinem Produkt/Service und mit dem was du
            während der Coronakrise noch anbietest. Sollten wir dich in irgendeiner Weise unterstützen können (z.B. mit
            Geschenkkarten etc.), melde dich bitte auf
            <a href="mailto:act@belocalhero.com">act@belocalhero.com</a></p>
          <p>3. Hurra! Nun du bist auf Be Local Hero sichtbar und deine Nachbarschaft wird auf dich aufmerksam! Und
            vergiss nicht den Link zu deinem Angebot auch direkt in deinem Netzwerk zu teilen – be (a) local hero :)</p>
          <p>Sag uns auf Instagram oder Facebook, dass du dabei bist. Gemeinsam erreichen wir noch viel mehr lokale
            Helden.</p>
          <p>Hier findest du uns:</p>
          <p><a
              href="https://www.facebook.com/Be-Local-Hero-108364480799731" target="_blank">www.facebook.com/Be-Local-Hero-108364480799731</a>
          </p>
          <p> <a href="https://www.instagram.com/belocalhero" target="_blank">www.instagram.com/belocalhero</a></p>
          <p>Wichtig: Be Local Hero ist eine Vernetzungsplattform. Die Lieferung und den Zahlungsverkehr musst du selber
            organisieren. Falls du Unterstützung brauchst, schreib uns auf:
            <a href="mailto:act@belocalhero.com">act@belocalhero.com</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7 no-padding">
        <div class="registration-form-section__form">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab"
              [ngClass]="{ 'active show': showSignUpForm === true }">
              <h2>{{ 'Register' | translate }}</h2>
              <app-registeration></app-registeration>

              <p style="font-weight: bold; margin-top: 30px; margin-bottom: 10px">
                {{ 'already_have_account' | translate }}</p>
              <a class="btn btn-original btn-signup" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                aria-controls="signin" aria-selected="false" [ngClass]="{ 'active': showSigninForm === true }"
                [routerLink]="['/signin']">{{ 'signin' | translate }} </a>
            </div>
            <div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="signin-tab"
              [ngClass]="{ 'active show': showSigninForm === true }">
              <h2>{{ 'signin' | translate }}</h2>
              <app-login></app-login>


              <p style="font-weight: bold; margin-top: 30px; margin-bottom: 10px">{{ 'dont_have_account' | translate }}
              </p>
              <a class="btn btn-original btn-signup" id="register-tab" data-toggle="tab" href="#register" role="tab"
                aria-controls="register" aria-selected="true" [ngClass]="{ 'active': showSignUpForm === true }"
                [routerLink]="['/signup']">{{ 'Register' | translate }} </a>
            </div>

            <div class="tab-pane fade" id="resetpass" role="tabpanel" aria-labelledby="resetpass-tab"
              [ngClass]="{ 'active show': showResetPasswordForm === true }">
              <app-forgot-password></app-forgot-password>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>