@import "../../variables";
@import "../../fonts";
@import "../../mixins";

.care_link {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #000;
  cursor: pointer;
  z-index: 999;

  &.small {
    display: none;
  }

  @media all and (max-width: 640px) {
    left: auto;
    right: 10px;
    width: 90px;
    height: 90px;

    &.large {
      display: none;
    }
    &.small {
      display: flex;
    }
  }

  a {
    font-size: 13px;
    transform: rotate(-45deg);
    line-height: 20px;
    color: #000;
    font-weight: 900;
  }
}
.skip {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
  display: block;
  font-size: 16px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.intro {
  display: flex;
  display: -webkit-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  overflow-y: auto;
  @media all and (max-width: 640px) {
    flex-direction: column;
    overflow-y: scroll;
  }

  .logo-link {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  &__side {
    width: 50%;
    min-height: 100vh;
    padding: 95px 0 0;
    float: left;
    color: #000;
    padding: 100px 7% 40px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    @media all and (max-width: 1300px) {
      height: 110vh;
    }
    @media all and (max-width: 640px) {
      display: block;
      width: 100%;
      height: auto;
      min-height: auto;
      padding: 30px 7% 40px;
    }

    &:nth-of-type(1) {
      background-color: $localPrimary;
      @media all and (max-width: 640px) {
        padding-top: 100px;
      }
    }
    &:nth-of-type(2) {
      background-color: $localSecondary;
    }
    &__text {
      width: auto;

      &__big {
        font-size: 70px;
        font-weight: 900;
        line-height: 77px;
        @media all and (max-width: 1300px) {
          font-size: 60px;
        }
        @media all and (max-width: 992px) {
          font-size: 50px;
          font-weight: 900;
          line-height: 55px;
        }
        @media all and (max-width: 992px) {
          font-size: 38px;
          line-height: 44px;
        }
        @media all and (max-width: 640px) {
          font-size: 30px;
          line-height: 44px;
        }
      }
      &__small {
        margin-top: 15px;

        p {
          line-height: 20px;
          word-break: break-word;
          font-weight: 500;
          @media all and (max-width: 640px) {
            font-size: 14px;
          }
          a {
            color: #000;
          }
        }
      }
      &__link {
        color: #000;
        background-color: #fff;
        padding: 15px 0;
        font-size: 22px;
        display: block;
        text-align: center;
        width: 100%;
        margin: 25px auto 0;
        font-weight: bold;
        border: 5px solid #000;
        @media all and (max-width: 1300px) {
          font-size: 16px;
        }
        @media all and (max-width: 640px) {
          border-width: 3px;
        }
      }
    }
  }
}
