<div class="care_link">
  <a href="#"><strong>Take Care! <br/>
  Hinweise  </strong></a>
</div>
<div class="intro">
  <div class="intro__side">
    <div class="intro__side__text">
      <div class="intro__side__text__big">
        Corona <br />
        verhindert<br />
        mein lokales<br />
        Geschäft
      </div>
      <div class="intro__side__text__small">
        <p>
          Was ist dein Ziel als Anbierhero <br />
          khdsalköfdsklafhkdshfldsahfklsdafkdsjfsdöhfajkdhsafkl
          klsdafkdsjfsdöhfajkdhsafkl<br />
          needs und probleme von lokalem geschäft. was machst du hier?
        </p>
      </div>
      <a class="intro__side__text__link" href="#">LocalHero</a>
    </div>
  </div>
  <div class="intro__side">
    <div class="intro__side__text">
      <div class="intro__side__text__big">
        Entdecke <br />
        deine<br />
        lokalen<br />
        Geschäfte
      </div>
      <div class="intro__side__text__small">
        <p>
          Was machst du da als stöber  <br />
          herohfdksajfkdshfölkaklfdhskja jkdshajkhjksljgfds 
          klsdafkdsjfsdöhfajkdhsafkl<br />
          support your local business und kontaktiere stobere entdecke geschäfte gleich um die ecke 
        </p>
      </div>
      <a class="intro__side__text__link" href="#">Schaufenstershopper</a>
    </div>
  </div>
</div>