<div [hidden]="intro">
  <div class="care_link large">
    <a href="https://www.bag.admin.ch/bag/de/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov.html"
      target="_blank"><strong>Take care & <br />
        stay home! </strong></a>

  </div>

  <div class="intro">
    <a class="logo-link" [routerLink]="['/'+langURL]" (click)="hideIntro()">
      <h1><img src="../../../assets/images/local-hero-logo.svg"></h1>
    </a>

    <a class="skip" [routerLink]="['/'+langURL]" (click)="hideIntro()">To the map</a>


    <div class="intro__side">
      <div class="intro__side__text">
        <div class="intro__side__text__big">

          {{ "local_intro_big_1" | translate }}
        </div>
        <div class="intro__side__text__small">
          <p>
            {{"local_intro_text_1" | translate}}

          </p>
        </div>

      </div>
      <a class="intro__side__text__link" [routerLink]="['/signup']" > {{ "local_intro_link_1" | translate }} </a>
    </div>
    <div class="intro__side">
      <div class="intro__side__text">
        <div class="intro__side__text__big">
          {{ "local_intro_big_2" | translate }}
        </div>
        <div class="intro__side__text__small">
          <p>
            {{"local_intro_text_2_1" | translate}}
          </p>
          <p>
            {{"local_intro_text_2_2" | translate}}
          </p>
        </div>

      </div>
      <a class="intro__side__text__link" [routerLink]="['/']" (click)="hideIntro()"> {{ "local_intro_link_2" | translate}} </a>
    </div>
  </div>
</div>