@import "../../variables";
@import "../../fonts";
@import "../../mixins";

.care_link{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #000;
  cursor: pointer;

  &.small{
    display: none;
  }

  @media all and (max-width: 640px){
    left: auto;
    right: 10px;
    width: 90px;
    height: 90px;

    &.large{
      display: none;
    }
    &.small{
      display: flex;
    }
  }

  a{
    font-size: 13px;
    transform: rotate(-45deg);
    line-height: 20px;
    color: #000;
    font-weight: 900;
  }
}
.intro {
  .logo-link{
    position: absolute;
    top: 15px;
    left: 15px;
  }
  &__side {
    width: 50%;
    height: 100vh;
    padding: 95px 0 0;
    float: left;
    color: #000;

    @media all and (max-width: 640px){
      width: 100%;
      height: auto;
      padding: 30px 0 40px;
    }

    &:nth-of-type(1) {
      background-color: $localPrimary;
      padding: 100px 0 40px;
    }
    &:nth-of-type(2) {
      background-color: $localSecondary;
    }
    &__text {
      width: auto;
      max-width: 65%;
      margin: auto;

      @media all and (max-width: 1470px){
        max-width: 67%;
      }
      @media all and (max-width: 1200px){
        max-width: 75%;
      }
      @media all and (max-width: 1070px){
        max-width: 80%;
      }
      &__big {
        font-size: 70px;
        font-weight: 900;
        line-height: 77px;
        @media all and (max-width: 992px){
          font-size: 50px;
          font-weight: 900;
          line-height: 55px;
        }
      }
      &__small {
        margin-top: 15px;
        p {
          line-height: 20px;
          word-break: break-word;
          font-weight: 500;
        }
      }
      &__link {
        color: #000;
        background-color: #fff;
        padding: 15px 0;
        font-size: 22px;
        display: block;
        text-align: center;
        width: 100%;
        margin: 25px auto 0;
        font-weight: bold;
        border: 5px solid #000;

        @media all and (max-width: 640px){
          border-width: 3px;
        }
      }
    }
  }
}
