@import "../../variables";
@import "../../fonts";
@import "../../mixins";


.cookie_wrapper {
    position       : fixed;
    bottom         : 0;
    width          : 100%;
    display        : flex;
    justify-content: center;
    z-index         : 999;
    opacity         : 1;

    &_bg {
        background-color: $btnColor;
        color           : $white;
    }

    p {
        padding: 25px 100px 25px 100px;
        @include cookie_p();

        @media (max-width: $md) {
            padding: 25px 20px 25px 20px;

        }

        @media (max-width: $sm) {
            padding: 25px 15px 25px 15px;
            ;

        }
    }

    a {
        text-decoration: none;
        color          : $black;
        cursor         : pointer;
        @include huge-btn();
    }
}