.main-content{

}
@import "../variables";
@import "../fonts";
@import "../mixins";


.cookie_wrapper {
    background-color: $btnColor;
    color           : $white;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    &_bg {

        display: flex;
    }

    p {
        @include cookie_p();
    }

   .btn {
        text-decoration: none;
        // color          : $black;
        cursor         : pointer;
        @include cookie_p();
    }
}
