<div class="registration-form-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 no-padding">
        <div class="registration-form-section__Background">
          <a href="#" class="registration-form-section__logo-wrapper">
            <img src="../../assets/images/logo.svg" alt="" class="registration-form-section__logo">
            <img src="../../assets/images/out-door-family.svg" alt="" class="registration-form-section__logo-text">
          </a>
        </div>
      </div>
      <div class="col-lg-7 no-padding">
        <div class="registration-form-section__form">

          <h3>{{"reset_password" | translate}}</h3>


          <form class="auth-form" (ngSubmit)="resetPassword(resetPass)" name="resetPass" #resetPass="ngForm">
            <div class="help-block" *ngIf="resetError">
              {{"email_expired"| translate}} <a [routerLink]="'/forgot-password'">here to re-send the email.
              </a>
            </div>
            <div class="form-group">

              <label>Please enter your email</label>
              <input class="form-control" type="email" name="email" required email #email="ngModel"
                [ngModel]="resetPassParams.email" disabled="">
              <small class="help-block"
                *ngIf="!email.valid && email.touched && email.errors.email">{{"enter_valid_email" |translate}}</small>
              <small class="help-block"
                *ngIf="!email.valid && email.touched && email.errors.required">{{"field_requird" |translate}}</small>
            </div>
            <div class="form-group">
              <label>{{"new" | translate}} {{"password" | translate}}</label>
              <input class="form-control" type="password" ngModel name="password" required #password="ngModel"
                minlength="6" validateEqual="confirmpassword" reverse="true">

              <small class="help-block"
                *ngIf="password.touched && password.invalid && password.errors.required">{{"field_requird" |translate}}</small>
              <small class="help-block"
                *ngIf="password.touched && password.invalid && password.errors.minlength ">{{"password_must_6char" | translate}}</small>

            </div>
            <div class="form-group">
              <label>{{"confirm_new_password" | translate}}</label>
              <input class="form-control" type="password" ngModel name="confirmpassword" required
                #confirmpassword="ngModel" minlength="6" validateEqual="password">
              <small class="help-block"
                *ngIf="confirmpassword.touched && confirmpassword.invalid && confirmpassword.errors.required">{{"field_requird" |translate}}</small>
              <small class="help-block"
                *ngIf="confirmpassword.touched && confirmpassword.invalid && confirmpassword.errors.minlength">{{"password_must_6char" | translate}}<br /></small>
              <!--<small class="help-block" *ngIf="confirmpassword.invalid && confirmpassword.touched  && !confirmpassword.errors.required">Confirm Password must match password</small>-->
              <small class="help-block"
                [hidden]="confirmpassword.valid ||  (confirmpassword.pristine && !resetPass.submitted ) || confirmpassword.errors.required">
                {{"password_not_match" | translate}}
              </small>
            </div>
            <div class="btn-wrapper">
              <button type="submit" class="btn btn-primary"
                [disabled]="!resetPass.valid">{{"reset_password" | translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>