@import "../../../variables";
@import "../../../fonts";
@import "../../../mixins";

/*style the box which holds the text of the information window*/
// .gm-style .gm-style-iw {
//   top: 0 !important;
//   left: 0 !important;
//   width: 100% !important;
//   padding-top: 10px;
//   display: block !important;
//   z-index: 99999999999999999999999999 !important;
// }

/*style the paragraph tag*/
.gm-style .gm-style-iw #google-popup p {
  padding: 10px;
}

/*style the annoying little arrow at the bottom*/
.gm-style div div div div div div div div {
  margin: 0;
  padding: 0;
  top: 0;
  color: #fff;
  font-size: 16px;
}
.agm-map-container-inner {
}
/*style the link*/
.gm-style div div div div div div div div a {
  color: #f1f1f1;
  font-weight: bold;
}
.fa-star {
  color: $btnColor;
}
.pac-container {
  .pac-item {
    cursor: pointer;
    .pac-icon-marker {
      display: none;
    }
    .pac-item-query {
      font-size: 16px;
      font-family: "google_sansregular";
      padding: 0;
      color: #f2cfbf;
      height: 25px;
      display: block;
      color: $localPrimary;

      .pac-matched {
        color: $localSecondary;
      }
    }
  }
}
agm-map {
  height: 80vh;

  .marker-popup {
    z-index: 999;
  }

  .agm-info-window-content {
    h4 {
      color: $localSecondary;
      font-size: 16px;
      line-height: 22px;
    }

    p {
      color: #000;
    }

    .rating {
      margin-bottom: 10px;
    }
  }
}
agm-map .agm-info-window-content h4{
  display: inline-block !important;
}
.gm-style-iw-d + button.gm-ui-hover-effect {
  background-color: $localPrimary !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 99999 !important;
}
agm-marker {
  position: relative;
  z-index: 9999999999999;
  width: 200px;
}

.gm-style {
  .gm-style-iw-t {
    z-index: 999;
  }
}

.map-adjust {
  height: 85px;
  @media (max-width: 450px) {
    height: 86px;
  }
  @media all and (max-width: 375px) {
    height: 73px;
  }
}
.map-filters {
  position: absolute;
  top: 150px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 9;

  &__search {
    .form-group {
      position: relative;

      &:after {
        /*content: "";*/
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 100%;
        background: $grey-blue url(../../../assets/images/ic-location-light.svg)
          no-repeat center center;
        background-size: 25px 25px;

        @media all and (max-width: $sm) {
          display: none;
        }
      }
    }

    input {
      border-radius: 0;
      height: 40px;
      border: 1px solid $grey-blue;
      padding-right: 215px;

      @media all and (max-width: $sm) {
        padding-right: 160px;
      }

      &:focus {
        outline: 0;
        border: 1px solid $grey-blue;
        box-shadow: none;
      }
    }

    &__near {
      position: absolute;
      top: 5px;
      right: 65px;
      height: 30px;
      background-color: #000000;
      color: #ffffff;
      border: 0;
      padding: 0 15px;
      opacity: 1;
      border-radius: 0;
      font-weight: bold;
      font-size: 14px;
      z-index: 9999;

      &:hover{
        background-color: $localSecondary;
      }

      @media all and (max-width: $sm) {
        right: 45px;
        padding: 0 5px;
        font-size: 12px;
      }

      &:focus {
        outline: 0;
        border: 0;
        box-shadow: none;
      }
    }

    &__action {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $grey-blue;
      background-size: 40px;
      width: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      cursor: pointer;

      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;

      &:hover {
        background-color: $localSecondary;
      }

      img {
        width: 20px;
      }
    }
  }

  &__tabs {
    margin-top: 25px;

    form {
      .form-group {
        float: left;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        width: 100%;
        position: relative;

        label {
          cursor: pointer;
          border-radius: 20px;
          box-shadow: 2px 2px 10px #bdb7b4;
          -webkit-box-shadow: 2px 2px 10px #bdb7b4;
          -moz-box-shadow: 2px 2px 10px #bdb7b4;
          -o-box-shadow: 2px 2px 10px #bdb7b4;
          -ms-box-shadow: 2px 2px 10px #bdb7b4;

          @media all and (max-width: 768px) {
          }

          @media all and (max-width: 500px) {
          }

          &.place-type-checkbox {
            input {
              & + span {
                .active-icon {
                  display: none;
                }

                .inactive-icon {
                  display: block;
                  display: block;
                  height: 100%;
                  margin: auto;
                }
              }

              &:checked {
                & + span {
                  .active-icon {
                    display: block;
                    height: 100%;
                    margin: auto;
                  }

                  .inactive-icon {
                    display: none;
                  }
                }
              }
            }
          }

          & > span {
            text-align: center;
            padding: 3px 0px;
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            border-radius: 20px;
            font-size: 12px;

            span {
              width: 25px;
              height: 20px;
              margin: 0 auto 5px;
              background-size: 25px !important;
            }

            img {
              margin-bottom: 10px;
              height: 100%;
            }
          }

          input {
            margin-right: 100px;
            position: absolute;
            top: 10px;
            opacity: 0;

            &:checked {
              & + span {
                color: $white;
                &.place-type-0 {
                  background-color: $slate-grey;
                }
                &.place-type-1 {
                  background-color: $btnColor;
                }
                &.place-type-2 {
                  background-color: $darkBlue;
                }
              }
            }
          }
        }
      }
    }

    &__categories {
      float: left;
      width: 20%;
      margin: 0 5%;
      background-color: $white;
      color: $tabs-color;
      height: 60px;
      width: 20%;
      border-radius: 20px;

      @media all and (max-width: 500px) {
        width: 25%;
        margin: 0 3%;
      }

      label {
        width: 100%;
        height: 100%;
      }
    }
  }
}
