<div class="map-adjust"></div>

<div class="map-filters">
  <div class="container">
    <div class="map-filters__search">
     
      <div class="form-group">
        <input type="text" class="form-control" (keydown.enter)="searchPlaces()"
          [placeholder]="'Search_nearest_location'| translate"
          type="text" #search>
        <button (click)="setCurrentLocation(latitude,longitude)"
          class="map-filters__search__near">{{"Near_me" | translate}}</button>
        <a class="map-filters__search__action" (click)="searchPlaces()">
          <img src="../../../assets/images/ic-location-light.svg" />
        </a>
      </div>
    </div>

    
  </div>
</div>
<agm-map [zoom]="zoom" [styles]="styles" 
  [streetViewControl]="streetViewControl"  [scrollwheel]="false" #AgmMap
  [fitBounds]="fitBoundsMarkers">
  <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="currentMarkerIcon"></agm-marker>
  <agm-marker-cluster [maxZoom]="100" [minimumClusterSize]="3"
  [styles]="clusterStyles"
  imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="markerIcon"
    (markerClick)="clickedMarker(infowindow)" [agmFitBounds]="fitBoundsMarkers">

    <agm-info-window [disableAutoPan]="true" #infowindow [maxWidth]="250" class="marker-popup">
      <a [routerLink]="['/'+langURL, 'single-place', m.id, m.slug]" class="place-name-link">
        <h4 style="z-index: 9999999999; position: relative;" [innerHTML]="m.title"></h4>
      </a>
      <div *ngIf="markers && m.categories; first as isFirst">
        <span *ngFor="let category of m.categories" class="badge"> 
          {{category}} 
        </span>
      </div>
    </agm-info-window>
  </agm-marker>
  </agm-marker-cluster>

</agm-map>

<app-categories-slider></app-categories-slider>