@import '../../../variables';
@import '../../../fonts';

.forgot-password{
    margin-top: 60px;

    h3{
        color: $btnColor;
    }

    .auth-form{
        margin-top: 50px;

        .form-group{
        	input{
        		&:focus{
        			outline: 0;
        			box-shadow: none;
        		}
        	}
        }
        .btn{
        	margin-top: 15px;

        	&:focus{
        		outline: 0;
        		box-shadow: none;
        	}
        }
    }
}