<div class="forgot-password">
  <h3>{{"forget_password" | translate}}</h3>
  <p>We'll send you an email with instructions.</p>
  <form class="auth-form" (ngSubmit)="forgotPassword(forgotPass)" name="forgotPass" #forgotPass="ngForm">

    <div class="form-group">
      <label>Please enter your email</label>
      <input class="form-control" type="email" ngModel name="email" required email #email="ngModel">
      <small class="help-block" *ngIf="!email.valid && email.touched && email.errors.email">{{"enter_valid_email" | translate}}</small>
      <small class="help-block" *ngIf="!email.valid && email.touched && email.errors.required">{{"field_requird" |translate}}</small>
    </div>
    <div class="help-block" *ngIf="forgetPassError">
      {{  passError }}, please try again.
    </div>
    <div class="help-block text-success" *ngIf="forgetPassSuccess && !forgetPassError">
      {{"reset_pass_msg" | translate}}
    </div>

    <button type="submit" class="btn btn-original"
      [disabled]="!forgotPass.valid">{{"reset_password" | translate}}</button>

  </form>
</div>