@import "../../../variables";
@import "../../../fonts";
@import "../../../mixins";

.btn-filter {
  margin-left: auto;
  float: right;
  .btn {
    color: $btnColor;
    background-color: $orange-04;
    border: 1px solid $orange-04;

    &:focus {
      color: $btnColor;
      background-color: $orange-04;
      border: 1px solid $orange-04;
      box-shadow: 0 0 0 0rem rgba(130, 138, 145, 0.5);
    }
  }
  img {
    width: 12px;
    margin-top: -8px;
  }
}
.result-notfound {
  margin-bottom: 10%;

  &__image {
    width: 45%;
    margin: 1% auto;
    text-align: center;
  }

  &__text {
    @include text-huge-regular();
    font-weight: 600;
    letter-spacing: 1px;
    color: $btnColor;
    text-align: center;
  }
}

.places-category__list {
  min-height: 90vh;
  position: relative;
  padding-bottom: 25px;

  .side-nav {
    position: absolute;
    right: -450px;
    top: 0;
    background-color: $white;
    width: 350px;
    z-index: 999;
    height: 600px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    &.open {
      right: 0;
      -webkit-backdrop-filter: blur(50px);
      backdrop-filter: blur(50px);
      box-shadow: 0 2px 10px 0 rgba(73, 73, 100, 0.3);

      @media (max-width: $lg) {
        right: 0px;
      }
    }

    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      opacity: 1;
      width: 18px;
      height: 18px;
      cursor: pointer;

      @media (max-width: $lg) {
      }
    }

    ul {
      padding: $mr-20;

      li {
        a {
          display: block;
          color: $charcoal-grey;
          @include text-huge-regular();
          padding: $mr-10 0;

          @media (max-width: $lg) {
            font-size: 18px;
          }

          &:hover {
            color: $btnColor;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__controls {
    display: flex;
    margin-bottom: $mr-20;

    .category {
      margin-right: $mr-15;
    }

    .sortby {
      display: flex;

      .results-number {
        margin-right: $mr-5;
      }

      .label {
        margin: 0 $mr-15;
        display: flex;
        align-self: center;
        @include text-regular();
        color: $darkBlueGrey;
        letter-spacing: 0.11px;
      }
    }

    .dropdown-toggle {
      color: $btnColor;
      background-color: transparent;
      border-color: transparent;
      padding: 0 0 $mr-5 0;
      text-transform: capitalize;
      @include text-huge-regular();
      font-weight: 600;
      letter-spacing: 1px;

      &::after {
        vertical-align: middle;
        margin-top: -4px;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0 rgba(130, 138, 145, 0.5);
      }
    }

    .btn-filter {
      margin-left: auto;

      .btn {
        color: $btnColor;
        background-color: $orange-04;
        border: 1px solid $orange-04;

        &:focus {
          color: $btnColor;
          background-color: $orange-04;
          border: 1px solid $orange-04;
          box-shadow: none;
        }
      }

      img {
        width: 12px;
        margin-top: -8px;
      }
    }

    .dropdown-menu {
      padding: 0;

      .dropdown-item {
        padding: $mr-10;
        @include text-regular();
        color: $darkBlueGrey;
        letter-spacing: 0.11px;

        &:focus,
        &:hover {
          color: $white;
          background-color: $btnColor;
        }
      }
    }
  }
}

.places-results {
  .subtitle {
    margin: 0 0 20px 0;
    float: left;
  }

  p {
    word-break: break-all;
  }

  &-item {
    margin-bottom: $mr-15;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: none;

      .places-results__place-name {
        color: $localSecondary;
      }
    }
  }

  &__img {
    height: 160px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: $mr-10;

    @media (max-width: $xs) {
      height: 120px;
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    color: $cool-grey;
    margin-bottom: $mr-5;
    @include text-regular();

    .description {
      margin-bottom: $mr-5;

      .badge {
        color: #000;
        background-color: #ddd;
        font-size: 14px;
        margin: 0 9px 10px 0;
        padding: 5px 10px;
      }

      p {
        line-height: 1.5;
        margin-bottom: 15px;
      }
    }

    .likes-number {
      display: inline-block;
    }

    @media (max-width: $lg) {
      font-size: 12px;
    }
  }

  .place-name-link {
    &:hover {
      text-decoration: none;
    }
  }

  &__place-name {
    @include H6-bold();
    color: $greyish-brown;
    margin-bottom: $mr-10;
    line-height: 25px;
    cursor: pointer;

    &:hover {
      color: $localSecondary;
    }
  }

  &__rating {
    margin-bottom: $mr-5;
    margin-right: $mr-10;
    display: inline-block;

    i {
      color: $btnColor;

      &.star-empty {
        color: $cloudy-blue;
      }
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    // color       : $darkBlueGrey;
    @include text-regular();
    margin: 0;

    p {
      margin: 0 0 $mr-5;
      @include text-regular();
    }
  }

  .read-more {
    color: $darkBlueGrey;
    cursor: pointer;
  }
}

.pagination {
  justify-content: center;

  .ngx-pagination {
    display: flex;
    display: -webkit-flex;
    justify-content: center;

    li {
      padding: 0px;
      height: 30px;
      line-height: 30px;
      margin: 0 7px;

      &.current {
        background-color: $btnColor;
        padding: 0 10px;
      }

      a {
        padding: 0 10px;
        display: block;
        height: 100%;
        line-height: 30px;
        color: $darkBlue;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
