<div class="inner-pages">
  <div class="container">
    <h1 [innerHTML]="aboutContent? aboutContent.title: ''"></h1>
    <div class="col-xs-6">
      <p [innerHTML]="aboutContent? aboutContent.left_text: ''">

      </p>
      <div class="page_logos">
        <div class="page_logos__logos">
          <a href="https://modeso.ch/?lang=de" target="_blank">
            <img src="../../../assets/images/logo1.svg" />
          </a>
        </div>
        <div class="page_logos__logos">
          <a href="https://co-co-co.org/index.html" target="_blank">
            <img src="../../../assets/images/logo2.svg" />
          </a>
        </div>
        <div class="page_logos__logos">
          <a href="https://cooperativesuisse.ch/" target="_blank">
            <img src="../../../assets/images/logo3.svg" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p [innerHTML]="aboutContent? aboutContent.right_text: ''">

        <div class="page_logos">
          <div class="page_logos__logos__small">
            <a href="https://www.brudi.com/de/" target="_blank">
              <img src="../../../assets/images/logo4.svg" />
            </a>
          </div>
          <div class="page_logos__logos__small">
            <a href="https://storyup.ch/" target="_blank">
              <img src="../../../assets/images/logo6.svg" />
            </a>
          </div>
        </div>
    </div>
  </div>
</div>