@import '../../../variables';
@import '../../../fonts';
@import '../../../mixins';


p{
    font-weight: 500;

    a{
        color: #000;
        text-decoration: underline;
    }
}
.page_logos{
    margin: 50px 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;

    @media all and (max-width: 640px){
        margin: 30px 0;
    }

    &__logos{
        width: 33%;

        @media all and (max-width: 640px){
            width: 50%;
            margin-bottom: 30px;
        }

        img{
            width: 80%;
            max-width: 250px;
        }

        &__small{
            width: 16.66666%;
            @media all and (max-width: 640px){
                width: 33%;
            }
            img{
                width: 80%;
            }
        }
    }

    img{
    }
}