p{
    font-weight: 500;

    a{
        color: #000;
        text-decoration: underline;
    }
}
.page_logos{
    margin: 50px 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;

    &__logos{
        width: 33%;

        img{
            width: 80%;
            max-width: 250px;
        }
    }

    img{
    }
}