<h1>Datenschutzerklärung</h1>
<p>Die Website der Modeso GmbH und der co-co-co GmbH (nachfolgend „Be Local Hero“ genannt) unterliegt schweizerischem
    Datenschutzrecht, insbesondere gemäss dem Bundesgesetz über den Datenschutz (DSG), sowie allenfalls anwendbarem
    ausländischem Datenschutzrecht wie beispielsweise der Datenschutz-Grundverordnung (DSGVO) der Europäischen Union
    (EU). Die EU anerkennt, dass das schweizerische Datenschutzrecht einen angemessenen Datenschutz gewährleistet.
    Der Zugriff auf unsere Website erfolgt mittels Transportverschlüsselung (SSL/TLS).</p>
<p>Wir freuen uns sehr über dein Interesse an unserem Unternehmen. Datenschutz hat einen besonders hohen Stellenwert für
    uns. Eine Nutzung der Internetseiten von Be Local Hero ist grundsätzlich ohne jede Angabe personenbezogener Daten
    möglich. Sofern eine betroffene Person besondere Services unseres Unternehmens über unsere Internetseite in Anspruch
    nehmen möchte, könnte jedoch eine Verarbeitung personenbezogener Daten erforderlich werden. Ist die Verarbeitung
    personenbezogener Daten erforderlich und besteht für eine solche Verarbeitung keine gesetzliche Grundlage, holen wir
    generell eine Einwilligung der betroffenen Person ein. Der Nutzer der Plattform erteilt mittels der Angabe seiner
    Daten die Einwilligung in die Verarbeitung seiner Daten im Rahmen der vorliegenden Datenschutzerklärung. Mit der
    Registrierung gemäss Nutzungsbedingungen erteilt der Nutzer seine Einwilligung zur Verwendung der angegebenen
    Personendaten zu den vorgängig beschriebenen Zwecken, insbesondere zur Verwendung der angegebenen Personendaten zu
    Marketingzwecken. Der Nutzer willigt dazu ein, dass seine Daten zu Marketingzwecken anonymisiert ausgewertet werden
    können. Er erteilt ausdrücklich seine Zustimmung, dass die gesammelten Daten auch von Dritten verarbeitet werden
    können. Anonymisierte Daten können von uns veröffentlicht oder weitergegeben werden.
    Die Verarbeitung personenbezogener Daten, beispielsweise des Namens, der Anschrift, E-Mail-Adresse oder
    Telefonnummer einer betroffenen Person, erfolgt stets im Einklang mit den gesetzlichen Datenschutzvorgaben. Mittels
    dieser Datenschutzerklärung möchte Be Local Hero die Öffentlichkeit über Art, Umfang und Zweck der von uns
    erhobenen, genutzten und verarbeiteten personenbezogenen Daten informieren. Ferner werden betroffene Personen
    mittels dieser Datenschutzerklärung über die ihnen zustehenden Rechte aufgeklärt.
    Be Local Hero hat als für die Verarbeitung Verantwortlicher zahlreiche technische und organisatorische Massnahmen
    umgesetzt, um einen möglichst lückenlosen Schutz der über diese Internetseite verarbeiteten personenbezogenen Daten
    sicherzustellen. Dennoch können internetbasierte Datenübertragungen grundsätzlich Sicherheitslücken aufweisen,
    sodass ein absoluter Schutz nicht gewährleistet werden kann. Aus diesem Grund steht es jeder betroffenen Person
    frei, personenbezogene Daten auch auf alternativen Wegen, beispielsweise telefonisch, an uns zu übermitteln.
</p>
<ul>
    <li>1. Name und Anschrift des Verantwortlichen
        Der Verantwortliche im Sinne der Gesetze (im Weiteren „Betreiber“ genannt) ist die
        Modeso GmbH, Hintere Gillstrasse 10, 8560 Märstetten
        Email: act@belocalhero.com

        <ul>
            <li>1.1 Kontaktdaten bei Datenschutzfragen
                Bei Anfragen zum Datenschutz wende dich bitte unter Beilage einer Kopie der ID oder des Passes zur
                Identifikation des Nutzers an
                Modeso GmbH, Privatsphäre,Hintere Gillstrasse 10, 8560 Märstetten<br>
                Email: act@belocalhero.com</li>
            <li>1.2 Kontaktdaten EU-Datenschutzvertretung
                Wir verfügen über einen Datenschutz-Vertreter in der EU als Anlaufstelle für Aufsichtsbehörden und
                betroffenen Personen bei sämtlichen Fragen im Zusammenhang mit dem EU-Datenschutzrecht, der ebenfalls
                per E-Mail oder per Briefpost kontaktiert werden kann:
                VGS Datenschutzpartner UG<br>
                Am Kaiserkai 69<br>
                20457 Hamburg<br>
                Deutschland<br>
                info@datenschutzpartner.eu</li>
        </ul>
    </li>
    <li>2. Allgemeines zur Datenverarbeitung
        Wir erheben und verwenden bei einem Besuch unserer Webseite zunächst nur die in Abschnitt 3 genannten Daten.
        Darüber hinaus verarbeiten wir personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur
        Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Die
        Erhebung und Verwendung personenbezogener Daten unserer Nutzer erfolgt regelmässig nur nach Einwilligung des
        Nutzers. Eine Ausnahme gilt in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus
        tatsächlichen Gründen nicht möglich ist und die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet
        ist.

        <ul>
            <li>2.2 Rechtsgrundlage für die Verarbeitung personenbezogener Daten
                Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person
                einholen, dient das Bundesgesetz über den Datenschutz (DSG) beziehungsweise, sofern und soweit
                anwendbar, Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage für die
                Verarbeitung personenbezogener Daten.
                Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen
                Vertragspartei die betroffene Person ist, erforderlich ist, dient das DSG beziehungsweise, sofern und
                soweit anwendbar, Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt auch für
                Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Massnahmen erforderlich sind.
                Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung
                erforderlich ist, welcher unser Unternehmen unterliegt, dient das DSG beziehungsweise, sofern und soweit
                anwendbar, Art. 6 Abs. 1 lit. c DSGVO als Rechtsgrundlage.
                Ist die Verarbeitung zur Wahrung eines berechtigten Interesses unseres Unternehmens oder eines Dritten
                erforderlich und überwiegen die Interessen, Grundrechte und Grundfreiheiten des Betroffenen das
                erstgenannte Interesse nicht, so dient das DSG beziehungsweise, sofern und soweit anwendbar, Art. 6 Abs.
                1 lit. f DSGVO als Rechtsgrundlage für die Verarbeitung.
            </li>
            <li>2.3 Datenlöschung und Speicherdauer
                Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der
                Speicherung entfällt. Eine Speicherung kann darüber hinaus dann erfolgen, wenn dies durch den
                europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen
                Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde.
                Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen
                vorgeschriebene Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung
                der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.
                Die Löschung deiner personenbezogenen Daten erfolgt über deinen Account. Die Löschung sämtlicher Daten
                erfolgt gemäss den Nutzungsbedingungen durch die Kündigung des Nutzungsvertrages. Die Kündigung des
                Nutzungsvertrages kann über die persönlichen Profileinstellungen vorgenommen werden.
            </li>
        </ul>
    </li>
    <li>3. Bereitstellung der Website und Erstellung von Logfiles

        <ul>
            <li>3.1 Beschreibung, Zweck und Umfang der Datenverarbeitung

                Bei jedem Aufruf unserer Webseite erfasst unser System automatisiert Daten und Informationen vom
                Computersystem des aufrufenden Rechners sowie zusätzliche Daten, die vom Benutzer explizit eingegeben
                werden müssen.
                Log-Daten: Wenn du unsere Dienste nutzt, werden automatisch Daten über deine Nutzung der Plattform
                (Log-Daten) erstellt. Diese Log-Daten können Daten enthalten wie beispielsweise die IP-Adresse deines
                Computers oder deines mobilen Geräts, Browser-Typ, die Zugriffszeit und andere statistisch verwertbare
                Daten. Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem
                dienen uns die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit unserer
                informationstechnischen Systeme. Wir verwenden die Log-Files zur Analyse deines Nutzerverhaltens.. Die
                Auswertung der Log-Files erfolgt in anonymisierter Form.
                Anmeldedaten: Wenn du dich bei der Plattform registrierst, bitten wir dich, uns bestimmte Daten, wie
                deinen Benutzernahmen, dein Passwort und dein E-Mail-Adresse anzugeben. Wir bitten dich eventuelle auch
                darum, deine Benutzerdaten durch weitere Daten, deinen Vor- und Nachnamen, deinen Standort, deine
                Adresse, deine Telefonnummer oder individuelle Präferenzen zu personalisieren. Einige dieser Daten, wie
                z.B. dein Benutzername, werden in unseren Diensten öffentlich angezeigt. Die öffentliche Anzeige aller
                übrigen Daten kannst du über deinen Account kontrollieren. Besonders schützenswerte Personendaten im
                Sinne des DSG werden von uns nicht erhoben oder erstellt.
                Benutzer-IDs und Geräte-IDs: Wenn du die App auf deinem Smartphone installierst, kreieren wir eine
                einmalige Identifikationsnummer, die mit der Installation der Software verbunden ist (Benutzer-ID). Wenn
                du einen Account besitzt, werden wir die Benutzer-ID oder deine Geräte-ID mit deinen Anmeldedaten
                verbinden.
                Wir sammeln Daten zu deinem Nutzerverhalten, wie zum Beispiel deine Wahrnehmung bzw. Nutzung von
                redaktionellen Inhalten und vorhandener Werbung, welche Funktionen du nutzt, welche Aktionen du
                unternimmst (z.B. das Hochladen von Fotos, Videos, das Liken von Inhalten oder Posten von Kommentaren).
                Als Be Local Hero-Nutzer kannst du Soziale Netzwerk-Dienste (SND) wie Facebook und Twitter nutzen. Um
                dies zu tun, wirst du aufgefordert, dich beim SND einzuloggen. Hierbei ist für Be Local Hero weder dein
                Benutzername oder Passwort sichtbar, noch wir Be Local Hero diese Daten speichern oder sonst in
                irgendeiner Weise verwenden. Be Local Hero läss sich vom entsprechenden SND nur ein
                Authentifizierungs-Token übergeben. Wenn du auf einen SND über unsere Dienste zugreifen möchtest, darf
                Be Local Hero vom SND deine Adresse, Geschlecht, Benutzer-ID, die Liste der Freunde und alle von dir
                öffentlich gemachten Informationen sammeln. Abhängig vom SND, den du über Be Local Hero nutzt, und in
                Übereinstimmung mit deinen Privatsphäre-Einstellungen kannst du Informationen zu deinem SND-Account über
                unsere Dienste und Informationen zugänglich machen. Zum Beispiel kannst du dich über die Be Local
                Hero-App bei deinem Facebook-Konto einloggen und anmelden, indem du deine
                Facebook-Account-Anmeldeinformationen über Facebook Connect eingibst und dann über Be Local Hero dein
                Facebook-Konto verwaltest. Wir empfehlen dir, die Datenschutzerklärungen und andere Aussagen der von dir
                genutzten SND zu lesen. Du kannst die Verbindung zwischen einer Be Local Hero-Anwendung und eines von
                dir gewählten SND jederzeit über den Bereich ‚Konten’ deaktivieren.
                Von Zeit zu Zeit geben wir dir die Möglichkeit, an Umfragen oder Gewinnspielen teilzunehmen. Wenn du
                dich beteiligst, werden wir unter Umständen zusätzliche Daten zu dir erfragen und verarbeiten.
            </li>
            <li>3.2 Rechtsgrundlage für die Datenverarbeitung
                Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist das DSG
                beziehungsweise, sofern und soweit anwendbar, Art. 6 Abs. 1 lit. f DSGVO.
                Rechtsgrundlage für die Speicherung von Anmeldedaten und Benutzer- sowie Geräte-IDs ist das DSG
                beziehungsweise, sofern und soweit anwendbar, Art. 6 Abs. 1 lit. a und b DSGVO.
            </li>
            <li>3.3 Dauer der Speicherung
                Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr
                erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall,
                wenn die jeweilige Sitzung beendet ist.
            </li>
            <li>3.4 Widerspruchs- und Beseitigungsmöglichkeit
                Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für
                den Betrieb der Webseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine
                Widerspruchsmöglichkeit.
            </li>
        </ul>
    </li>
    <li>4. Verwendung von Cookies und anderen Technologien
        Diese Webseite verwendet Cookies. Cookies sind Textdateien, welche über einen Internetbrowser auf einem
        Computersystem abgelegt und gespeichert werden.

        <ul>
            <li>4.1 Beschreibung, Zweck und Umfang der Datenverarbeitung
                Zahlreiche Webseiten und Server verwenden Cookies. Viele Cookies enthalten eine sogenannte Cookie-ID.
                Eine Cookie-ID ist eine eindeutige Kennung des Cookies. Sie besteht aus einer Zeichenfolge, durch welche
                Webseiten und Server dem konkreten Internetbrowser zugeordnet werden können, in dem das Cookie
                gespeichert wurde. Dies ermöglicht es den besuchten Webseiten und Servern, den individuellen Browser der
                betroffenen Person von anderen Internetbrowsern, die andere Cookies enthalten, zu unterscheiden. Ein
                bestimmter Internetbrowser kann über die eindeutige Cookie-ID wiedererkannt und identifiziert werden.
                Zusätzlich ermöglicht die Verwendung von Cookies das Erkennen von wiederkehrenden Nutzern zu
                statistischen Zwecken. Wir verwenden auch temporäre Session-ID-Cookies, um dir unsere Seite oder
                Dienstleistungen individueller zur Verfügung stellen zu können und um unser Verständnis deiner Nutzung
                der bereitgestellten Dienstleistung sowie deiner Webaktivität auf unserer Seite optimieren zu können.
                Durch den Einsatz von Cookies können den Nutzern dieser Webseite nutzerfreundlichere Services
                bereitstellen, die ohne die Cookie-Setzung nicht möglich wären.
                Mittels eines Cookies können die Informationen und Angebote auf unserer Webseite im Sinne des Benutzers
                optimiert werden. Cookies ermöglichen uns, wie bereits erwähnt, die Benutzer unserer Webseite
                wiederzuerkennen. Zweck dieser Wiedererkennung ist es, den Nutzern die Verwendung unserer Webseite zu
                erleichtern. Der Benutzer einer Webseite, die Cookies verwendet, muss beispielsweise nicht bei jedem
                Besuch der Webseite erneut seine Zugangsdaten eingeben, weil dies von der Webseite und dem auf dem
                Computersystem des Benutzers abgelegten Cookie übernommen wird. Wir verwenden dazu permanente Cookies,
                die deinen Benutzernamen und dein Passwort für zukünftige Besuche speichern. Das Passwort wird dabei nur
                gespeichert, wenn dies bei der Anmeldung so gewünscht wurde.
                Die betroffene Person kann die Setzung von Cookies durch unsere Webseite jederzeit mittels einer
                entsprechenden Einstellung des genutzten Internetbrowsers verhindern oder sich eine vorgängige Warnung
                anzeigen lassen, um damit der Setzung von Cookies dauerhaft zu widersprechen. Ferner können bereits
                gesetzte Cookies jederzeit über einen Internetbrowser oder andere Softwareprogramme gelöscht werden.
                Dies ist in allen gängigen Internetbrowsern möglich. Deaktiviert die betroffene Person die Setzung von
                Cookies in dem genutzten Internetbrowser, sind unter Umständen nicht alle Funktionen unserer Webseite
                vollumfänglich nutzbar. Cookies, installiert von Be Local Hero oder von Drittparteien wie SND, werden so
                lange auf deinem Computer oder mobilen Gerät gespeichert, bis sie von dir gelöscht werden.
                Wir verwenden auch Pixel-Tags, Web-Beacons, Clear GIFs oder ähnliche Methoden (Pixel-Tags), die in
                Verbindung mit unseren Dienstleistungen dazu dienen, den Einsatz sowie demographische oder geographische
                Standortdaten zu erheben. Ein Pixel-Tag ist ein elektronisches Bild, oft auch ein Einzelbild, welches
                für den Nutzer normalerweise nicht sichtbar ist. Dieses kann mit den Cookies auf der Festplatte des
                Nutzers verbunden sein. Pixel-Tags erlauben uns, Besucher unserer Website zu zählen, um so
                marktorientierte Dienstleistungen zu erbringen und die Effektivität von Werbekationen und Werbekampagnen
                zu bestimmen.
                Wir arbeiten mit Dritten, die Cookies und andere Tracking-Technologien verwenden, um anonymisierte Daten
                über deine Aktivitäten auf unserer Website und mit unseren Dienstleistungen zu sammeln. Die gesammelten
                Daten helfen uns, die Nutzung und den Betrieb unserer Plattform besser zu verstehen. Die gesammelten
                Daten werden getrennt von allfällig erhobenen Personendaten gespeichert. Das heisst, die Daten lassen
                keinerlei Verbindung mit deiner Person zu.
            </li>
            <li>4.2 Rechtsgrundlage für die Datenverarbeitung
                Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung technisch notweniger
                Cookies ist das DSG beziehungsweise, sofern und soweit anwendbar, Art. 6 Abs. 1 lit. f DSGVO.
                Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von Cookies zu
                Analysezwecken ist bei Vorliegen einer diesbezüglichen Einwilligung des Nutzers das DSG beziehungsweise,
                sofern und soweit anwendbar, Art. 6 Abs. 1 lit. a DSGVO.
            </li>
            <li>4.3 Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit
                Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer Seite übermittelt.
                Daher hast du als Nutzer auch die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung
                der Einstellungen in deinem Internetbrowser kannst du die Übertragung von Cookies deaktivieren oder
                einschränken. Bereits gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch
                automatisiert erfolgen. Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr
                alle Funktionen der Website vollumfänglich genutzt werden.
            </li>
        </ul>
    </li>
    <li>5. Newsletter

        <ul>
            <li>
                5.1 Beschreibung, Zweck und Umfang der Datenverarbeitung
                Auf unserer Webseite besteht die Möglichkeit einen kostenfreien Newsletter zu abonnieren. Dabei werden
                bei der Anmeldung zum Newsletter die Daten aus der Eingabemaske an uns übermittelt.
                Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgang deine Einwilligung eingeholt.
                Es erfolgt im Zusammenhang mit der Datenverarbeitung für den Versand von Newslettern keine Weitergabe
                der Daten an Dritte. Die Daten werden ausschliesslich für den Versand des Newsletters verwendet.

            </li>
            <li>
                5.2 Rechtsgrundlage für die Datenverarbeitung
                Der Newsletter-Versand erfolgt aufgrund von Anmeldung des Nutzers auf der Website.
                Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zum Newsletters durch den Nutzer ist bei
                Vorliegen einer Einwilligung des Nutzers das DSG beziehungsweise, sofern und soweit anwendbar, Art. 6
                Abs. 1 lit. a DSGVO.

            </li>
            <li>
                5.3 Dauer der Speicherung
                Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr
                erforderlich sind. Die Anmeldedaten des Nutzers werden demnach solange gespeichert, wie das Abonnement
                des Newsletters aktiv ist.

            </li>
            <li>
                5.4 Widerspruchs- und Beseitigungsmöglichkeit
                Das Abonnement des Newsletters kann durch den betroffenen Nutzer jederzeit gekündigt werden. Zu diesem
                Zweck findet sich in jedem Newsletter ein entsprechender Link.

            </li>
        </ul>
    </li>
    <li>6. E-Mail-Kontakt

        <ul>
            <li>
                6.1 Beschreibung, Zweck und Umfang der Datenverarbeitung
                Auf unserer Webseite sind E-Mail-Adressen vorhanden, welche für die elektronische Kontaktaufnahme
                genutzt werden können. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die mit der E-Mail
                bekanntgegeben Daten bei uns gespeichert.
                Die Verarbeitung der personenbezogenen Daten aus der E-Mail dient uns allein zur Bearbeitung der
                Kontaktaufnahme. Daran liegt auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten.
                Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschliesslich
                für die Verarbeitung der Konversation verwendet.

            </li>
            <li>
                6.2 Rechtsgrundlage für die Datenverarbeitung
                Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer E-Mail übermittelt
                werden, ist das DSG beziehungsweise, sofern und soweit anwendbar, Art. 6 Abs. 1 lit. f DSGVO. Zielt der
                E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die
                Verarbeitung das DSG beziehungsweise, sofern und soweit anwendbar, Art. 6 Abs. 1 lit. b DSGVO.

            </li>
            <li>
                6.3 Dauer der Speicherung
                Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr
                erforderlich sind. Für die personenbezogenen Daten, die per E-Mail übersandt wurden, ist dies dann der
                Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet ist die Konversation dann,
                wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschliessend geklärt ist.

            </li>
            <li>
                6.4 Widerspruchs- und Beseitigungsmöglichkeit
                Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur Verarbeitung der personenbezogenen
                Daten zu widerrufen. Nimmt der Nutzer per E-Mail Kontakt mit uns auf, so kann er der Speicherung seiner
                personenbezogenen Daten jederzeit widersprechen. In einem solchen Fall kann die Konversation nicht
                fortgeführt werden und der Widerruf muss telefonisch erfolgen.
                Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden, werden in diesem Fall
                gelöscht.

            </li>
        </ul>
    </li>
    <li>7. Rechte der betroffenen Person
        Werden personenbezogene Daten von dir verarbeitet, bist du „betroffene Person“ im Sinne des DSG beziehungsweise,
        sofern und soweit anwendbar, der DSGVO und es stehen dir folgende Rechte gegenüber uns als Verantwortlichem zu.
        Du kannst von deinen Rechten Gebrauch machen, indem du uns unter Angabe deines Anliegens kontaktierst.

        <ul>
            <li>7.1 Auskunftsrecht
                Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das Recht, jederzeit von dem für
                die Verarbeitung Verantwortlichen unentgeltliche Auskunft über die zu seiner Person gespeicherten
                personenbezogenen Daten sowie eine Kopie dieser Daten zu erhalten.
                Du kannst von dem Verantwortlichen eine Bestätigung darüber verlangen, ob personenbezogene Daten, die
                dich betreffen, von uns verarbeitet werden. Zur Identifikation ist dem Schreiben eine Kopie der ID oder
                des Passes beizulegen.
            </li>
            <li>7.2 Recht auf Berichtigung
                Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das Recht, die unverzügliche
                Berichtigung dich betreffender unrichtiger personenbezogener Daten zu verlangen. Ferner steht der
                betroffenen Person das Recht zu, unter Berücksichtigung der Zwecke der Verarbeitung, die
                Vervollständigung unvollständiger personenbezogener Daten - auch mittels einer ergänzenden Erklärung -
                zu verlangen.
            </li>
            <li>7.3 Recht auf Einschränkung der Verarbeitung
                Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das Recht, von dem
                Verantwortlichen die Einschränkung der Verarbeitung zu verlangen, wenn eine vom Gesetzgeber im DSG
                beziehungsweise, sofern und soweit anwendbar, in Art. 18 Abs. 1 DSGVO vorgesehenen Voraussetzungen
                gegeben sind.
            </li>
            <li>7.4 Recht auf Löschung
                Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das Recht, von dem
                Verantwortlichen zu verlangen, dass die sie betreffenden personenbezogenen Daten unverzüglich gelöscht
                werden, sofern einer der im DSG beziehungsweise, sofern und soweit anwendbar, in Art. 17 Abs. 1 DSGVO
                genannten Gründe zutrifft.
            </li>
            <li>7.5 Recht auf Datenübertragbarkeit
                Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das Recht, die sie betreffenden
                personenbezogenen Daten, welche durch die betroffene Person einem Verantwortlichen bereitgestellt
                wurden, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten. Sie hat ausserdem
                das Recht, diese Daten einem anderen Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem
                die personenbezogenen Daten bereitgestellt wurden, zu übermitteln, sofern die Verarbeitung auf der
                Einwilligung gemäss DSG beziehungsweise, sofern und soweit anwendbar, Art. 6 Abs. 1 Buchstabe a DSGVO
                oder Art. 9 Abs. 2 Buchstabe a DSGVO oder auf einem Vertrag gemäss Art. 6 Abs. 1 Buchstabe b DSGVO
                beruht und die Verarbeitung mithilfe automatisierter Verfahren erfolgt.
            </li>
            <li>7.6 Widerspruchsrecht
                Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das Recht, aus Gründen, die sich
                aus ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung sie betreffender
                personenbezogener Daten, die aufgrund des DSG beziehungsweise, sofern und soweit anwendbar, von Art. 6
                Abs. 1 Buchstaben e oder f DSGVO erfolgt, Widerspruch einzulegen. Dies gilt auch für ein auf diese
                Bestimmungen gestütztes Profiling.
                Das Unternehmen verarbeitet die personenbezogenen Daten im Falle des Widerspruchs nicht mehr, es sei
                denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die den Interessen,
                Rechten und Freiheiten der betroffenen Person überwiegen, oder die Verarbeitung dient der
                Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
                Verarbeitet das Unternehmen personenbezogene Daten, um Direktwerbung zu betreiben, so hat die betroffene
                Person das Recht, jederzeit Widerspruch gegen die Verarbeitung der personenbezogenen Daten zum Zwecke
                derartiger Werbung einzulegen. Dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in
                Verbindung steht. Widerspricht die betroffene Person der Verarbeitung für Zwecke der Direktwerbung, so
                werden die personenbezogenen Daten nicht mehr für diese Zwecke verarbeiten.
            </li>
            <li>7.7 Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung
                Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das Recht, eine Einwilligung zur
                Verarbeitung personenbezogener Daten jederzeit zu widerrufen.
                Du hast das Recht, deine datenschutzrechtliche Einwilligungserklärung jederzeit zu widerrufen. Durch den
                Widerruf der Einwilligung wird die Rechtmässigkeit der aufgrund der Einwilligung bis zum Widerruf
                erfolgten Verarbeitung nicht berührt.
            </li>
            <li>7.8 Recht auf Beschwerde bei einer Aufsichtsbehörde
                Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs steht dir das
                Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres
                Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmasslichen Verstosses, zu, wenn du der
                Ansicht bist, dass die Verarbeitung der dich betreffenden personenbezogenen Daten gegen das DSG
                beziehungsweise, sofern und soweit anwendbar, die DSGVO verstösst.
            </li>
        </ul>
    </li>
    <li>8. Datenschutzbestimmungen zum Einsatz von Services Anbietern
        Wir beschäftigen Drittunternehmen, welche uns bei der Bereitstellung und Verbesserung der Dienstleistungen
        unterstützen (beispielsweise Datenbank-Management und Web-Analytik). Wenn diese Drittunternehmen Personendaten
        erhalten, werden sie verpflichtet, diese weder bekannt zu geben noch sie für andere Zwecke zu verwenden, als von
        uns vorgegeben. Die Drittunternehmen dürfen die Daten lediglich so bearbeiten, wie wir es selbst ebenfalls
        dürften. Eine weitergehende Bearbeitung ist ihnen untersagt. Insbesondere mit folgenden
        Drittunternehmen/Diensten arbeiten wir zusammen/sind aktiv auf unserer Plattform:

        <ul>
            <li>8.1 Datenschutzbestimmungen zu Google Analytics
                Der für die Verarbeitung Verantwortliche hat auf dieser Webseite die Komponente Google Analytics
                integriert. Google Analytics verwendet Cookies und speichert diese in der Regel ausserhalb des EU/EFTA
                Raumes. Google benutzt diese Informationen, um für Flughafen Zürich die Nutzung der Website auszuwerten
                und Reports über die Websiteaktivitäten und Internetnutzung zusammenzustellen. Des Weiteren überträgt
                Google diese Informationen nach eigenen Angaben an Dritte, sofern dies gesetzlich vorgeschrieben ist
                oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Die im Rahmen von Google Analytics vom
                Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Die Nutzer
                können die Speicherung von Cookies verhindern (vgl. "Cookies" hiervor). Die Nutzer können darüber hinaus
                die Übermittlung der durch das Cookie erzeugten und auf ihre Nutzung der Website bezogenen Daten (inkl.
                IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter
                dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren:
                https://tools.google.com/dlpage/gaoptout?hl=de
            </li>
        </ul>
    </li>
</ul>