<div class="account-details">
  <!-- EDIT MOOD -->
  <div *ngIf="editForm">
    <app-edit-profile [editUserData]="userDataDisplayParent"></app-edit-profile>
  </div>
  <!-- END -->
  <!-- SHOWED INFO -->
  <div class="account-details__information" *ngIf="!editForm && userDataDisplayParent">
    <div class="edit-profile" [hidden]="!HideEditAndChangePass">
      <button class="btn btn-secondrary" (click)="startEditMode()">{{"Edit_profile" | translate}} </button>
    </div>
    <app-display-profile-details [profileDataChild]="userDataDisplayParent"></app-display-profile-details>

    <!-- CHANGE PASSWORD -->
    <div class="form-group" *ngIf="changePassword">
      <!-- <label>Password</label> -->
      <!-- <p class="details">********</p> -->
      <div class="btn-wrapper" [hidden]="!HideEditAndChangePass">
        <button class="btn btn-primary" (click)="startpasswordEditMode()">{{"change_password" | translate}}</button>
      </div>
    </div>
    <div class="change-password" *ngIf="!changePassword">
      <button  class="btn btn-primary btn-cancel" (click)="EndpasswordEditMode()">{{"cancel" | translate}}</button>
      <app-change-password></app-change-password>
    </div>
    <!-- END -->
  </div>
</div>