<div *ngIf="isLoading" class="loading-spinner">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="c_add_place__content-wrapper">
  <div class="container padding-top">
    <div class="row">
      <div class="col-12">
        <div class="c_add_place_content">
          <form (ngSubmit)="newPlace(addPlace)" name="addPlace" #addPlace="ngForm">
            <div class="c-activities_section">
              <h1>{{ "Business_register" | translate }}</h1>
              <p>{{ "Business_register_text_1" | translate }}</p>
              <p>{{ "Business_register_text_2" | translate }}: <a
                  href="mailto: act@belocalhero.com">act@belocalhero.com</a>
              </p>
              <!-- <div class="c-activities_section__right">
                <h3>
                  {{"what_you_can_do_here" | translate}}
                </h3>
                <div class="c-activities_section__icons">
                  <ul class="radio-images">
                    <li *ngFor="let activity of activities;  let i = index;">
                      <div class="form-group">
                        <label class="{{activity.name}}-checkbox">
                          <input type="checkbox" value="{{i}}">
                          <span>
                            <img [src]="activity.in_active_icon" alt="" class="img-thumbnail icon_inactive">
                            <img [src]="activity.active_icon" alt="" class="img-thumbnail icon_active">
                          </span>
                        </label>
                      </div>
                      <small>{{activity.name}}</small>
                    </li>
                  </ul>
                </div>
              </div> -->
              <div class="c-activities_section_left">

                <!-- <button class="Addnew-btn" type="submit" class="btn btn-primary" >
                  {{"Addplace" | translate}}
                </button> -->
              </div>
            </div>
            <p class="help-block" *ngIf="addPlaceFormError && addPlace.submitted"> {{ formErrorMsg }} </p>
            <!-- start -->
            <div class="form-group">
              <h4 class="subtitle">{{"local_bussiness_name" | translate}} (*):</h4>
              <div class="form-group">
                <input type="text" class="form-control col-12" ngModel name="placename" #placename="ngModel" required>
                <small class="help-block"
                  *ngIf="!placename.valid && placename.touched && placename.errors.required">{{'field_requird'  | translate }}</small>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="form-group">
              <h4 class="subtitle">{{"local_Address" | translate}} (*):</h4>
              <div class="map-filters__search">
                <div class="form-group">
                  <input type="text" class="form-control search-btn" (keydown.enter)="$event.preventDefault()"
                    placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off"
                    type="text" #search [(ngModel)]="placeName" name="address" #address="ngModel" required>
                  <small class="help-block" *ngIf="!address.valid && address.touched && address.errors.required">
                    {{'field_requird'  | translate }}</small>
                  <small class="help-block" *ngIf="address.touched && !latitude && !longitude">You must choose the
                    address from the autocomplete list above!</small>
                </div>

              </div>
              <agm-map [latitude]="47.3769" [longitude]="8.5417" [zoom]="zoom">
                <agm-marker [latitude]="47.3769" [longitude]="8.5417" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
              </agm-map>
              <h5>Address: {{placeName}}</h5>
              <div>Latitude: {{latitude}}</div>
              <div>Longitude: {{longitude}}</div>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="form-group">
              <h4 class="subtitle">{{"local_Phonenumber" |translate}}</h4>
              <div class="form-group">
                <input type="tel" class="form-control col-12" ngModel name="phone" #phone="ngModel">

                <!-- <p class="help-block" *ngIf="!phone.valid && phone.touched && phone.errors.pattern">Please enter a valid
                  phone number.</p> -->
              </div>
            </div>
            <div class="form-group">
              <h4 class="subtitle">{{"local_Emailadress" |translate}} (*)</h4>
              <div class="form-group">
                <input type="email" class="form-control col-12" ngModel name="placeemail" #placeemail="ngModel"
                  required>
                <!-- <small class="help-block" *ngIf="!placeemail.valid && placeemail.touched && placeemail.errors.email">
                   {{"enter_valid_email" | translate}}
                  </small> -->
                <small class="help-block"
                  *ngIf="!placeemail.valid && placeemail.touched && placeemail.errors.required">{{'field_requird'  | translate }}</small>
              </div>
            </div>
            <div class="form-group">
              <h4 class="subtitle">{{"local_Website" | translate}}</h4>
              <div class="form-group">
                <input type="url" class="form-control col-12" ngModel name="website" #website="ngModel"
                  pattern="^(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}">
                <small class="help-block" *ngIf="!website.valid && website.touched && website.errors.pattern">
                  {{'valid_url'|translate}}
                </small>
              </div>
            </div>
            <div class="form-group">
              <h4 class="subtitle">{{"local_zip_code" |translate}}</h4>
              <div class="form-group">
                <input type="text" class="form-control col-12" ngModel name="zipcode" #zipcode="ngModel"
                  pattern="^[a-zA-Z0-9_]*$">
                <small class="help-block" *ngIf="!zipcode.valid && zipcode.touched && zipcode.errors.pattern">Please
                  enter a
                  valid zipcode.</small>
              </div>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="form-group">
              <h4 class="subtitle">{{"local_Description" |translate}}
                <small>({{ "local_Description_2" | translate }})</small> (*)</h4>
              <div class="form-group">
                <textarea type="text" class="form-control col-12" ngModel name="description" #description="ngModel"
                  required></textarea>
                <small class="help-block"
                  *ngIf="!description.valid && description.touched && description.errors.required">{{'field_requird'  | translate }}</small>
              </div>
            </div>
            <!-- end -->

            <!-- start -->
            <!-- end -->
            <!-- start -->
            <div class="form-group">
              <h4 class="subtitle">{{"local_Type" |translate}} (*):</h4>
              <div class="form_wrapper radio-form">
                <p *ngFor='let subCat of formType; let i = index;'>
                  <input id="cat{{i}}" type="radio" class="custom-control-input" [value]="subCat" name="subcats" ngModel
                    #subcats="ngModel" required="showSubCategories">
                  <label class="custom-control-label" for="cat{{i}}">
                    {{subCat.name}}
                  </label>
                </p>
              </div>
            </div>
            <div class="form-group">
              <h4 class="subtitle">{{"local_Category" |translate}} :</h4>
              <div class="checkbox_wrapper">
                <div class="form-half-width" *ngFor="let category of formCategories;  let i = index;">
                  <label class="form-check-label" for="{{category.name}}">
                    <input class="form-check-input" type="checkbox" name="{{category.name}}" id="{{category.name}}"
                      ngModel [(ngModel)]="formCategories[i].checked">
                    <span>{{ category.name }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h4 class="subtitle">{{"local_Delievery" |translate}} :</h4>
              <div class="checkbox_wrapper">
                <div class="form-half-width" *ngFor="let delivery of formDelivery;  let i = index;">
                  <label class="form-check-label" for="{{delivery.name}}">
                    <input class="form-check-input" type="checkbox" name="{{delivery.name}}" id="{{delivery.name}}"
                      ngModel [(ngModel)]="formDelivery[i].checked">
                    <span>{{ delivery.name }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h4 class="subtitle">{{"local_Payment_Method" | translate}} :</h4>
              <div class="checkbox_wrapper">
                <div class="form-half-width" *ngFor="let payment of formPaymentMethod;  let i = index;">
                  <label class="form-check-label" for="{{payment.name}}">
                    <input class="form-check-input" type="checkbox" name="{{payment.name}}" id="{{payment.name}}"
                      ngModel [(ngModel)]="formPaymentMethod[i].checked">
                    <span>{{ payment.name }}</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group hour ">
              <h4 class="subtitle">{{"local_Opening_hours" | translate}} :</h4>
              <div class="form_wrapper">
                <div class="form-half-width">

                  <div class="default-time-example">
                    <label>{{"from" |translate}}</label>
                    <input aria-label="default time" [ngxTimepicker]="toggleTimepickerFrom" [value]="'10:00 am'"
                      readonly>
                    <ngx-material-timepicker #toggleTimepickerFrom></ngx-material-timepicker>
                  </div>
                </div>
                <div class="form-half-width">
                  <div class="default-time-example">
                    <label>{{"to" |translate}}</label>
                    <input aria-label="default time" [ngxTimepicker]="toggleTimepickerTo" [value]="'7:00 pm'" readonly>
                    <ngx-material-timepicker #toggleTimepickerTo></ngx-material-timepicker>
                  </div>
                </div>
              </div>
            </div>


            <h5 [hidden]="imagesUrls && imagesUrls.length === 0">
              {{"cover_image_select_msg" | translate}} (*):</h5>
            <small class="help-block help-block-pink" [hidden]="imagesUrls && imagesUrls.length === 0">
              {{"cover_image_select_msg_error" | translate}}
            </small>
            <div class="data-text">
              <div class="custom-control custom-radio radio-form" *ngFor='let url of imagesUrls; let i = index;'>
                <a (click)="removeImage(i)" class="remove-image"><i class="fa fa-trash"></i></a>
                <input id="image{{i}}" type="radio" class="custom-control-input" [value]="url" name="placesimages"
                  ngModel #placesimages="ngModel" (change)="selectedFeaturedImage(imagesNames[i], url)">

                <label class="custom-control-label" for="image{{i}}">
                  <img [src]="url" />
                </label>
                <p>{{ imagesNames[i] }}</p>
              </div>
            </div>

            <!--  <button type="submit" class="btn btn-primary" 
            [disabled]="!checkValid()">{{"Addplace" | translate}}</button> -->
            <h4 class="subtitle">{{"upload_images" | translate}} (*): </h4>

            <div class="form-group form-image">
              <a data-toggle="modal" data-target="#profileImageCropper" [ngClass]="maxNumber? 'upload-disabled': ''"
                [disabled]="maxNumber">
                <!-- <input type="file" accept="image/*" #file
              (change)="getFileDetails($event)"
              (click)="file.compressFile()"   
              [disabled]="maxNumber"
              required> -->

                <div class="input-content">
                  <div class="input-content-wrapper">
                    <div class="img">
                      <img src="assets/images/photo.svg" alt="">

                    </div>
                    <span class="text" [hidden]="maxNumber">
                      {{"upload_image_msg" | translate}}
                      <!-- <a (click)="compressFile($event)">{{maxNumber}}  Upload and compress Image</a> -->
                    </span>
                    <span class="text" [hidden]="!maxNumber">{{"upload_image_error" | translate}}</span>
                  </div>
                </div>
              </a>
            </div>
            <!-- <div class="hover-text" data-toggle="modal" data-target="#profileImageCropper">
              {{ 'upload_picture' | translate }} </div> -->
            <div class="modal fade" id="profileImageCropper" tabindex="-1" role="dialog"
              aria-labelledby="profileImageCropper" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{{ 'upload_picture' | translate }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                      [aspectRatio]="4 / 4" [resizeToWidth]="500" [roundCropper]="false" [cropper]="cropper"
                      format="png" (imageCropped)="imageCropped($event)" (loadImageFailed)="loadImageFailed()">
                    </image-cropper>

                    <input id="fileInput" type='file' (change)="fileChangeEvent($event)">
                    <label for="fileInput"> {{ 'choose_new_picture' | translate }} </label>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-original" data-dismiss="modal"
                      (click)="updateProfilePicture()">
                      {{ 'save_changes' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">

              <div class="checkbox_wrapper">
                <div class="form-full-width">
                  <label class="form-check-label" for="terms">
                    <input class="form-check-input" type="checkbox" name="terms" id="terms" ngModel required>
                    <span>{{ "local_terms" | translate }}</span>
                  </label>
                </div>
              </div>
            </div>
            <button class="btn btn-original" type="submit"
              [disabled]="!addPlace.valid || (!latitude && !longitude) || (!checkValidImages()) ">
              {{"local_add_bussiness" | translate}}</button>

          </form>
        </div>
      </div>
      <!-- <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="getFileDetails($event)" style="display:none"
      accept="image/*">
       -->
    </div>
  </div>
</div>