@import '../../../variables';
@import '../../../fonts';
@import '../../../mixins';

.profile-favorites {
    margin: -5px;

    &__empty{
        text-align: center;
        width: 100%;

        img{
            width: 90px;
            display: block;
            margin: 25px auto 10px;
        }

        p{
            color: $darkBlueGrey;
        }
    }

    @media(max-width: $md) {
        margin: 0;
    }

    &__item {
        flex     : 0 0 25%;
        max-width: 25%;
        margin   : $mr-5 1%;

        &:hover{
            text-decoration: none;
           
            h6{
                color: $btnColor;
            }
        }

        @media(max-width: $xl) {
            flex     : 0 0 31%;
            max-width: 31%;
        }

        @media(max-width: $md) {
            flex     : 0 0 31.333%;
            max-width: 31.333%;
        }

        @media(max-width: $xs) {
            flex     : 0 0 48%;
            max-width: 48%;
        }
    }

    &__img {
        height       : 125px;
        width        : 100%;
        border-radius: 5px;
        overflow     : hidden;
        margin-bottom: $mr-10;
        position     : relative;

        @media(max-width: $md) {
            height: 100px;
        }

        @media(max-width: $xs) {
            height: 80px;
        }

        img {
            width          : 100%;
            object-fit     : cover;
            object-position: center;
        }

        .btn-fav {
            position           : absolute;
            right              : 0.5rem;
            top                : 0.5rem;
            // float           : right;
            width              : 1.5em;
            height             : 1.5em;
            border-radius      : 3px;
            background-color   : rgba(255, 255, 255, 0.5);
            overflow           : hidden;
            white-space        : nowrap;
            cursor             : pointer;
            color              : $btnColor;
            margin             : 0;
            display            : table;
            text-align         : center;

            label {
                padding: $mr-5;

                &:hover{
                    cursor: pointer;
                }
            }

            .fa {
                display       : table-cell;
                vertical-align: middle;
                font-size     : 15px;
            }

            .active {
                .fa {
                    color: $mainColor;
                }
            }

            &:hover {
                color: $mainColor;
            }
        }
    }

    &__place-name {
        @include H6-bold();
        color        : $slate-grey;
        line-height: 20px;
        margin-bottom: $mr-5;
        &:hover{
            text-decoration: none;
        }
    }

    &__rating {
        margin-bottom: $mr-5;

        i {
            color: $btnColor;
        }
    }

    &__price {
        color: $slate-grey;
        @include text-regular();
        margin: 0;
    }
}