@import '../../variables';
@import '../../fonts';

.message-page{
    background-color: $localPrimary;
    min-height: 100vh;
    padding-top: 150px;
    text-align: center;
    overflow: hidden;
    @media(max-width:$md){
        padding-top: 25%;
        min-height: 100%;
    }
    h1{
        @include text-xl();
        color: $orange;
        margin-bottom: 15px;

        strong{
            display: block;
            font-size: 80px;
            margin-bottom: 15px;
        }
    }
    h4{
        color: #000;
    }
    h2{
        @include text-lg;
        color: #000;
        font-weight: normal;
    }
    .message-text{
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: $mr-20;

        h1{
            strong{
                display: block;
                font-size: 60px;
                margin-bottom: 15px;
            }
        }
    }
.illustrtion-bg{
    display: block;
}
}
