
@font-face {
    font-family: 'google_sansbold';
    src        : url('/assets/fonts/GoogleSans-Bold.woff2') format('woff2'),
        url('/assets/fonts/GoogleSans-Bold.woff') format('woff'),
        url('/assets/fonts/GoogleSans-Bold.svg') format('svg'),
        url('/assets/fonts/GoogleSans-Bold.ttf') format('ttf'),
        url('/assets/fonts/GoogleSans-Bold.eot') format('eot');

    font-weight: bold;
    font-style : bold;
}
@font-face {
    font-family: 'google_sansmedium';
    src        : url('/assets/fonts/GoogleSans-Medium.woff2') format('woff2'),
        url('/assets/fonts/GoogleSans-Medium.woff') format('woff'),
        url('/assets/fonts/GoogleSans-Medium.svg') format('svg'),
        url('/assets/fonts/GoogleSans-Medium.ttf') format('ttf'),
        url('/assets/fonts/GoogleSans-Medium.eot') format('eot');

    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'google_ProductSans-Thin';
    src        : url('/assets/fonts/ProductSans-Thin.ttf') format('ttf'),
        url('/assets/fonts/ProductSans-Thin.woff') format('woff'),
        url('/assets/fonts/ProductSans-Thin.woff2') format('woff'),
        url('/assets/fonts/ProductSans-Thin.svg') format('svg'),
        url('/assets/fonts/ProductSans-Thin.eot') format('eot');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'google_ProductSans-light';
    src        : url('/assets/fonts/ProductSans-Light.ttf') format('ttf'),
        url('/assets/fonts/ProductSans-Light.woff') format('woff'),
        url('/assets/fonts/ProductSans-Light.woff') format('woff'),
        url('/assets/fonts/ProductSans-Light.svg') format('svg'),
        url('/assets/fonts/ProductSans-Light.eot') format('eot');
    font-weight: normal;
    font-style : normal;
}


@font-face {
    font-family: 'google_sansregular';
    src        : url('/assets/fonts/GoogleSans-Regular.eot') format('eot'),
        url('/assets/fonts/GoogleSans-Regular.svg') format('svg'),
        url('/assets/fonts/GoogleSans-Regular.ttf') format('ttf'),
        url('/assets/fonts/GoogleSans-Regular.woff') format('woff'),
        url('/assets/fonts/GoogleSans-Regular.woff2') format('woff2');
    ;
    font-weight: normal;
    font-style : normal;
}


@font-face {
    font-family: 'AbrilFatface-Regular';
    src        : url('/assets/fonts/AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AbrilFatface-Regular.woff') format('woff'),
        url('/assets/fonts/AbrilFatface-Regular.ttf') format('truetype'),
        url('/assets/fonts/AbrilFatface-Regular.svg#AbrilFatface-Regular') format('svg');
    font-weight: normal;
    font-style : normal;
}



/* font mixins */


@mixin Intro-Title {
    font-family: "Abril Fatface", cursive;
    font-size  : 81px;
    font-weight: normal;

    @media (max-width: $lg) {
        font-size: 80px;
    }

    @media (max-width: $md) {
        font-size: 77px;

    }
}

@mixin H1-bold {
    font-family   : google_sansbold;
    font-size     : 43px;
    font-weight   : bold;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 26px;
    }
}

@mixin H2-bold {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 40px;
    font-weight   : bold;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 23px;
    }
}

@mixin H3-bold {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 28px;
    font-weight   : bold;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 20px;
    }
}

@mixin H4-bold {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 22px;
    font-weight   : bold;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 18px;
    }
}

@mixin H5-bold {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 16px;
    font-weight   : bold;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 18px;
    }
}

@mixin H6-bold {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 17px;
    font-weight   : bold;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {}
}

@mixin text-regular {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 14px;
    font-weight   : normal;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 14px;
    }
}

@mixin text-huge-regular {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 16px;
    font-weight   : normal;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 14px;
    }
}

@mixin tabs-regular {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 20px;
    font-weight   : normal;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 14px;
    }
}

// @mixin Testimonials-heading {
//     font-family   : google_sansbold;
//     font-size     : 50px ;
//     font-weight   : bold;
//     font-style    : normal;
//     font-stretch  : normal;
//     line-height   : normal;
//     letter-spacing: normal;
//     @media (max-width: $lg) {
//         font-size: 33px;
//     }
// }
@mixin text-xl {
    font-family: 'Quicksand', sans-serif;
    font-size  : 75px;

    @media (max-width: $lg) {
        font-size: 40px;
    }
}

@mixin text-lg {
    font-family: 'Quicksand', sans-serif;
    font-size  : 45px;

    @media (max-width: $lg) {
        font-size: 24px;
    }
}

@mixin text-md {
    font-family: 'Quicksand', sans-serif;
    font-size  : 22px;

    @media (max-width: $lg) {
        font-size: 16px;
    }
}

@mixin text-sm {
    font-family: 'Quicksand', sans-serif;
    font-size  : 16px;

    @media (max-width: $lg) {
        font-size: 14px;
    }
}
@mixin adText {
    font-family: 'Quicksand', sans-serif;
    font-size  : 18px;

    @media (max-width: $lg) {
        font-size: 14px;
    }
}

@mixin huge-btn {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 14px;
    font-weight   : 600;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 12px;
    }
}

@mixin testimonials-text {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 20px;
    font-weight   : 100;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 16px;
    }
}

@mixin intro_p {

    font-family   : 'google_sansregular';
    font-size     : 13px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.31;
    letter-spacing: 0.4px;

    @media (max-width: $lg) {
        font-size: 12px;
    }
}

@mixin text-post-md {
    font-family   : 'google_ProductSans-light';
    font-size     : 28px;
    font-weight   : normal;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 22px;
    }

}

@mixin intro_p {
    font-family   : 'google_ProductSans-Thin';
    font-size     : 15px;
    font-weight   : 600;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 12px;
    }
}

@mixin cookie_p {
    font-family   : 'google_ProductSans-thin';
    font-size     : 16px;
    font-weight   : 600;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: 1px;

    @media (max-width: $lg) {
        font-size: 16px;
    }

    @media (max-width: $md) {
        font-size: 13px;
    }

    @media (max-width: $sm) {
        font-size: 12px;
    }
}

@mixin single-blog-name {
    font-family   : 'google_sansmedium';
    font-size     : 22px;
    font-weight   : 200;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : 25px;
    letter-spacing: 1.27px;

    @media (max-width: $lg) {
        font-size: 25px;
    }

    @media (max-width: $md) {
        font-size: 20px;
    }

    @media (max-width: $sm) {
        font-size: 18px;
    }
}

@mixin Newsletter-field {
    font-family   : 'google_ProductSans-thin';
    font-size     : 20px;
    font-weight   : 600;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: 1px;

    @media (max-width: $sm) {
        font-size: 16px;
    }
}

@mixin blogHugeText () {
    font-family   : 'google_sansregular';
    font-size     : 16px;
    font-weight   : normal;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : 1.3;
    letter-spacing: 0.96px;
    color         : #777777;

    @media (max-width: $sm) {
        font-size: 14px;
    }
}

@mixin categoriesTitle () {
    font-size   : 22px;
    font-weight : normal;
    font-style  : normal;
    font-stretch: normal;
    line-height : 1.5;

    @media (max-width: $sm) {
        font-size: 18px;
    }
}

@mixin footerIntro-text-regular {
    font-family   : 'google_sansregular';
    font-size     : 30px !important;
    font-weight   : lighter;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;

    @media (max-width: $lg) {
        font-size: 20px !important;
    }
}