/* colors */

$localPrimary: #19F7CB;
$localSecondary: #EE0CF2;

$mainColor: #ee5566;
$pageBg: #fbeee8;
$btnColor: #e59069;
$orange: #d66e60;
$playGround: #aa9933; 
$kidsPath: #bb9988;
$firePlace: #eeaa55;
$darkBlueGrey: #3e415a;
$charcoal-grey : #323b45;
$darkBlue: #051026;
$darkGrey: #707070;
$slate-grey :#6a6a77;
$lightGrey: #faf9f9;
$white:#ffffff;
$pale-grey: #e6e9ee;
$warm-grey: #9f9f9f;
$softBlue: #6482e6;
$pageBg: #fbeee8;
$dusk: #3a3d57;
$slate-grey-two: #6b6b77;
$white-grey:#faf9f9;
$cloudy-blue: #eaeaea;
$dark-peach-50:rgba(228, 144, 104, 0.12);
$cool-grey:#9ea4af;
$gunmetal: #454e59;
$form-text:#aeaeb1;
$orange-border:#f5b19c;
$greyish-brown:#464646;
$white-04: rgba(255,255,255,0.4);
// $transperant:rgba(255, 255, 255, 0.28) ;
$grape-purple:#2f1136;
$border-color:#e6e8ed;
$icon-inactive:#f6f6f9;
$border-color: #ced4da;
$orange-04:rgba(228, 143, 103, 0.4);
$input-border:#ddd;
$grey-blue: #d6dbe5;
$tabs-color: #b3b9c2;
$icon-inactive:#f6f6f9;
$blogBg:#FAF9F9;
$textGrey:#CFCFCF;
$darkgreytext: #777777;
$dark-peach-50:rgba(228, 144, 104, 0.12);
$cool-grey:#9ea4af;
$gunmetal: #454e59;
$form-text:#aeaeb1;
$orange-border:#f5b19c;
$greyish-brown:#464646;
$white-04: rgba(255,255,255,0.4);
$black:black;
$transperant:rgba(255, 255, 255, 0.28) ;
$grape-purple:#2f1136;
$border-color:#e6e8ed;
$icon-inactive:#f6f6f9;
$blogBg:#FAF9F9;
$textGrey:#CFCFCF;

/*paddings */
$pagesPadding: 67px;
$profilePaddingRightLeft: 33px;
$profilePaddingTopBottom: 37px;
$introPaddingRightLeft: 29px;
$introPaddingTopBottom: 46px;
$authenticationPadding: 100px 60px 60px;
$padding29: 29px;

/* margins */
$categoriesMarginRight: 25px;
$mr-5: 5px;
$mr-10:10px;
$mr-15 :15px;
$mr-20 :20px;
$mr-25:25px;
$mr-30: 30px;
$mr-40 :40px;
$mr-50:50px;
$mr-60:60px;

/*screen sizes*/
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1200px;
$xxl:1800px;