<!--<div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" 
data-use-continue-as="false" (click)="submitLogin();" data-auto-logout-link="true"></div> -->
<!--<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"
(click)="submitLogin();" data-auto-logout-link="true"></div>-->

<a (click)="signInWithFB()" class="btn btn-blue">
    <div class="img"><i class="fa fa-facebook-f"></i></div>
    Facebook
</a>
