@import '../../variables';
@import '../../fonts';
@import '../../mixins';

.inner-pages{
    min-height: 90vh;
    padding: 150px 0;    
    background-color: $localPrimary;  

    p, li{
        font-size: 14px;
        line-height: 25px;
        color: #000;
        a{
            color: #000;
            text-decoration: underline;
        }
    }
}

.empty{
    background-color: $pale-grey;
    text-align: center;
    padding: 25px 0;

    img{
        margin-bottom: 50px;
    }

    p{
        font-size: 30px;
        font-family: "AbrilFatface-Regular";
        color: $btnColor;
    }
}