@import '../../variables';
@import '../../fonts';
@import '../../mixins';



.empty{
    background-color: $pale-grey;
    text-align: center;
    padding: 25px 0;

    img{
        margin-bottom: 50px;
    }

    p{
        font-size: 30px;
        font-family: "AbrilFatface-Regular";
        color: $btnColor;
    }
}