<div class="category-slider-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>
                    {{'our_products' | translate}}
                    <a [routerLink]="['/'+langURL, 'search-result' ]"
                    [queryParams]='{search: searchAll }'>{{'show_more' | translate}}</a>
                </h3>

                <div class="category-slider-section__empty"
                    *ngIf="(productsData && productsData.length == 0) ">
                    <img src="./assets/images/slider.svg" />
                    <p> {{ "no_places" | translate }}
                        {{'yet' |translate}}!
                    </p>
                </div>

                <div class="slider-wrapper">
                    <owl-carousel-o [options]="customOptions" class="owl-slider-section">

                        <ng-container
                            *ngFor="let categorySlider of categorySliderDetails; let i = index">
                            <ng-template class="item" carouselSlide [id]="categorySlider.id" [width]="250">

                                <div class="category-slider__item" data-length="{{categorySlider.length}}">
                                    <div class="category-slider__img">
                                        <a [stopLink]="isDragging"
                                            [owlRouterLink]="['/'+langURL, 'single-place', categorySlider.id, categorySlider.slug]"
                                            class="category-slider__place-name-link">
                                            <img src="{{categorySlider.featured_image?categorySlider.featured_image.url : './../assets/images/icon-img-placeholder.svg'}}"
                                                alt="" class="img-thumbnail">
                                        </a>
                                        <!-- <app-add-to-fav-list [addToFavId]="categorySlider.id"
                                            [addToFavStatus]="categorySlider.is_favorited"
                                            *ngIf="categorySlider && userStatus.isLoggedIn"
                                            (updateFavListEvent)="updateFavList($event)">
                                        </app-add-to-fav-list> -->

                                    </div>
                                
                                    <a class="category-slider__place-name" [stopLink]="isDragging"
                                        [owlRouterLink]="['/'+langURL, 'single-place', categorySlider.id, categorySlider.slug]"
                                        class="category-slider__place-name-link">
                                        <h6 [innerHTML]="categorySlider.title.rendered">
                                        </h6>
                                    </a>
                                    <p>{{categorySlider? categorySlider.description: '' }}</p>
                                    <span class="badge" *ngFor="let category of categorySlider.category">
                                        {{category}}
                                    </span>
                                </div>

                            </ng-template>
                        </ng-container>

                    </owl-carousel-o>

                </div>

            </div>
        </div>
    </div>
</div>