@import '../../../variables';
@import '../../../fonts';
@import '../../../mixins';

.category-slider-section{

  margin-top: 25px;
  h3{
    a{
      float: right;
      cursor: pointer;
      color: $btnColor;
    }
  }
  &__empty {
    text-align: center;
    width     : 100%;
    display   : table;
    background-color: #f7f7f7;
    padding-bottom: 25px;
    margin: 25px 0;

    .wrapper {
        display       : table-cell;
        vertical-align: middle;
        height        : 100%;
    }

    img {
        width  : 90px;
        display: block;
        margin : 25px auto 10px;
    }

    p {
      color: $darkBlueGrey;
    }
}
  .subtitle {
    color: $darkBlue;
    @include categoriesTitle();
    margin: 10px 0 0;
  }
  .owl-prev{

    position       : absolute;
    top            : 0;
    bottom         : 0;
    z-index        : 1;
    display        : flex;
    align-items    : center;
    justify-content: center;
  }
.owl-next{
  position       : absolute;
  top            : 0;
  bottom         : 0;
  z-index        : 1;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

  .category-slider {
    &__item {
      flex     : 0 0 100% !important;
      max-width: 100% !important;
      margin   : $mr-10 !important;
    }

    &__img {
      position     : relative!important;
      height       : 125px !important;
      width        : 100%!important;
      border-radius: 5px!important;
      overflow     : hidden!important;
      margin-bottom: $mr-10!important;

      @media(max-width: $md) {
        height: 100px;
      }

      @media(max-width: $xs) {
        height: 80px;
      }

      img {
        width          : 100%;
        object-fit     : cover;
        object-position: center;
      }

      .btn-fav {
            position           : absolute;
            right              : 0.5rem;
            top                : 0.5rem;
            // float           : right;
            width              : 1.5em;
            height             : 1.5em;
            border-radius      : 3px;
            background-color   : rgba(255, 255, 255, 0.5);
            overflow           : hidden;
            white-space        : nowrap;
            cursor             : pointer;
            color              : $btnColor;
            margin             : 0;
            display            : table;
            text-align         : center;

            label {
                padding: $mr-5;

                &:hover{
                  cursor: pointer;
                }
            }

            .fa {
                display       : table-cell;
                vertical-align: middle;
                font-size     : 15px;
                color: $white;
            }

            .active {
                .fa {
                    color: $mainColor;
                }
            }

            &:hover {
                color: $mainColor;

            }
        }
    }
    &__place-name-link{
      color        : $slate-grey;
      &:hover {
        color: $btnColor;
        text-decoration: none;
        h6{
          color: $btnColor;
        }
      }
      h6{
        line-height: 22px;
      }
    }
    &__place-name {
      @include H6-bold();
      color        : $slate-grey;
      line-height: 20px;
      margin-bottom: $mr-5;
    }

    &__rating {
      margin-bottom: $mr-5;

      i {
        color: $btnColor;
      }
    }

    &__price {
      color: $slate-grey;
      @include text-regular();
      margin: 0;
    }
  }
}

.star-empty {
    opacity: 0.4 !important;
    color: #000 !important;
    &.star-empty {
      opacity: 0.4;
    }
  }

