@import "../../../variables";
@import "../../../fonts";
@import "../../../mixins";

header {
  &.inner-header {
    .navbar {
      .sign-user {
        a {
          color: #fff;
        }
      }
      .navbar-icon {
        color: #fff;
      }

      .header-logo {
        .navbar-brand {
          h1 {
            color: #fff;
          }
        }
      }

      .header-items {
        .language {
          .dropdown-toggle {
            color: #fff;
          }

          .sign-user {
            a {
              color: #fff;
            }
          }
        }

        .dropdown {
          .dropdown-toggle {
            color: #fff;
          }
        }

        .search-mobile {
          color: #fff;
        }
      }
    }
  }

  .navbar {
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in-out);
    padding: $mr-15 0;
    position: relative;

    @media all and (max-width: $lg) {
      padding: $mr-20 0;
    }

    @media all and (max-width: 430px) {
      padding: $mr-10 0;
    }

    .side-nav {
      position: fixed;
      left: -350px;
      top: 0;
      background-color: $white;
      width: 350px;
      z-index: 999;
      height: 100vh;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;

      &.open {
        left: 0;
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        box-shadow: 0 2px 30px 0 rgba(73, 73, 100, 0.3);
      }

      .close {
        position: absolute;
        right: 20px;
        top: 20px;
        opacity: 1;
        width: 18px;
        height: 18px;
        cursor: pointer;

        @media (max-width: $lg) {
          
        }

      }

      .sidnav-image {
        height: 268px;

        @media (max-width: $lg) {
          height: 176px;
        }

        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }

      ul {
        padding: $mr-20;

        li {
          a {
            display: block;
            color: $charcoal-grey;
            @include text-huge-regular();
            padding: $mr-10 0;

            @media (max-width: $lg) {
              font-size: 18px;
            }

            &:hover {
              color: $btnColor;
              text-decoration: none;
            }
          }
        }

        .sidenav-logo {
          a {
            &:hover {
              text-decoration: none;
            }
          }

          h2 {
            font-family: "AbrilFatface-Regular";
            color: #3e415a;
            font-weight: 100;
            font-size: 30px;
            cursor: pointer;
            margin-bottom: 25px;
          }

          @media (max-width: $lg) {
          }
        }
      }
    }

    .navbar-icon {
      cursor: pointer;
      font-size: 25px;
      color: $darkBlueGrey;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 15px 15px 0;
      @media all and (max-width: $lg) {
        font-size: 18px;
      }

      @media all and (max-width: 375px) {
        font-size: 14px;
      }

      @media all and (max-width: 340px) {
        margin-right: 0;
      }
    }

    .search-mobile {
      color: $darkBlueGrey;
      font-size: 25px;
      margin-left: $mr-20;
      cursor: pointer;
      line-height: 40px;

      @media all and (max-width: $lg) {
        font-size: 20px;
      }

      @media all and (max-width: 450px) {
        line-height: 30px;
        margin-left: $mr-10;
      }

      @media all and (max-width: 375px) {
        font-size: 14px;
      }

      @media all and (max-width: 340px) {
        line-height: 20px;
      }

      @media all and (min-width: 991px) {
        display: none;
      }
    }

    .search-mobile-form {
      bottom: -15px;
      position: absolute;
      width: 0;
      height: 40px;
      right: 0;
      bottom: -40px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;

      &.open {
        width: 100%;

        @media all and (max-width: 430px) {
          bottom: -40px;
        }
      }

      .form-inline {
        display: block;
        width: 100%;
        margin: 0;

        input {
          width: 100%;
          border-radius: 0;
        }

        .btn {
          top: 0;
          bottom: 0;
          padding: 0;
          left: 10px;
        }
      }
    }

    .language {
      margin: 0 $mr-20;
      @include H6-bold();

      @media (max-width: $md) {
        margin: 0;
      }

      span {
        font-weight: bold;
      }

      a {
        @media (max-width: $md) {
          margin: 0;
        }
      }

      @media all and (max-width: $sm) {
        font-size: 14px;
        margin: 0;
        // height         : 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      @media (max-width: $xs) {
        font-size: 12px;
      }
    }

    .header-logo {
      // @media all and (max-width: $sm) {
      //   width: 60%;
      // }

      h1 {
        font-family: "AbrilFatface-Regular";
        color: $darkBlueGrey;
        font-weight: 100;
        font-size: 30px;
        cursor: pointer;
        margin: 0;

        @media all and (max-width: 450px) {
          font-size: 20px;
        }

        @media all and (max-width: 340px) {
          font-size: 16px;
        }
      }

      @media all and (max-width: $lg) {
        margin: 0;
        text-align: center;
      }

      .navbar-brand {
        margin-left: $mr-30;
        width: 292px;

        @media all and (max-width: 1200px) {
          width: 240px;
        }

        // height: 54px;
        @media all and (max-width: $lg) {
          text-align: center;
          margin: 0 auto;
          width: 190px;
        }

        @media all and (max-width: $sm) {
          width: 160px;
        }

        @media (max-width: $xs) {
          width: 140px;
        }
      }
    }

    .header-items {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;

      .dropdown {
        @media all and (max-width: $lg) {
          margin: 0;
        }

        .dropdown-toggle {
          background-color: transparent;
          border: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          font-size: 16px;
          cursor: pointer;
          color: $darkBlueGrey;

          @media (max-width: 1200px) {
            font-size: 14px;
            margin-left: $mr-20;
          }

          @media (max-width: $xs) {
            font-size: 12px;
            margin-left: $mr-15;
          }

          &::after {
            align-self: center;
          }

          &:focus {
            box-shadow: none;
          }

          .proile-img {
            // border: 1px solid $border-color;
            box-shadow: 0 1px 6px 0 rgba(40, 40, 60, 0.2);
          }

          span {
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            align-items: center;

            img {
              width: auto;
              height: 100%;
            }

            @media all and (max-width: 450px) {
              width: 30px;
              height: 30px;
            }

            @media all and (max-width: 340px) {
              width: 20px;
              height: 20px;
            }
          }
        }

        &.show {
          .dropdown-toggle {
            &:focus {
              box-shadow: none;
            }
          }
        }

        .dropdown-menu {
          background-color: $darkBlueGrey;
          padding: 5px 15px;

          p {
            &.dropdown-item {
              font-size: 20px;
            }
          }

          .dropdown-item {
            color: #fff;
            font-weight: 100;
            line-height: 25px;
            margin: 0;
            padding: 0;
            cursor: pointer;

            &:hover,
            &:focus {
              background-color: transparent;
            }
          }
        }
      }
    }

    .add-place-btn {

      &.margin-right{
        margin-right: 20px;
      }
      
      @media all and (max-width: $lg) {
        display: none;
      }

      a {
        @include text-regular();
        background-color: $btnColor;
        color: #fff;
        display: flex;
        justify-content: center;
        height: 35px;
        // width             : 120px;
        padding: 0 15px;
        cursor: pointer;
        box-shadow: 2px 2px 10px #bdb7b4;
        -webkit-box-shadow: 2px 2px 10px #bdb7b4;
        -moz-box-shadow: 2px 2px 10px #bdb7b4;
        -o-box-shadow: 2px 2px 10px #bdb7b4;
        -ms-box-shadow: 2px 2px 10px #bdb7b4;

        span {
          align-self: center;
        }

        img {
          margin-right: $mr-10;
          width: 15px;
        }
      }
    }

    .mr-sm-2 {
      margin-right: 0 !important;
    }

    .dropdown-menu {
      min-width: auto;
      left: auto;
      right: 0;
      cursor: pointer;
    }

    .form-inline {
      position: relative;
      margin-left: $mr-30;

      @media all and (max-width: $lg) {
        display: none;
      }

      .btn {
        position: absolute;
        left: 0;
        color: $darkBlueGrey;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        outline: none;

        &:focus {
          box-shadow: none;
        }
      }

      input {
        @include text-regular();
        color: $darkBlueGrey;
        font-weight: bold;
        padding-left: $mr-30;
        background: $lightGrey;
        border: 0;
        height: 40px;
        border-radius: 35px;
        font-size: 14px;
        text-align: center;
        box-shadow: 2px 2px 10px #bdb7b4;
        -webkit-box-shadow: 2px 2px 10px #bdb7b4;
        -moz-box-shadow: 2px 2px 10px #bdb7b4;
        -o-box-shadow: 2px 2px 10px #bdb7b4;
        -ms-box-shadow: 2px 2px 10px #bdb7b4;

        &:focus {
          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #ddd;
          }

          &:-ms-input-placeholder {
            /* IE 10+ */
            color: #ddd;
          }

          &:-moz-placeholder {
            /* Firefox 18- */
            color: #ddd;
          }
        }

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $darkBlueGrey;
        }

        &:-ms-input-placeholder {
          /* IE 10+ */
          color: $darkBlueGrey;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          color: $darkBlueGrey;
        }
      }
    }

    .sign-user {
      display: flex;
      display: -webkit-flex;

      a {
        cursor: pointer;
        align-self: center;
        @include text-huge-regular();
        color: $darkBlueGrey;
        font-weight: bold;
        font-size: 14px;

        @media (max-width: 1200px) {
          font-size: 14px;
          margin-left: $mr-20;
        }

        @media (max-width: $xs) {
          font-size: 12px;
          margin-left: $mr-15;
        }
      }
    }
  }
}

.add-place-btn-mobile {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  display: none;

  @media all and (max-width: $lg) {
    display: block;
  }
}
