
<header class="fixed-top" [ngClass]="commons.darkHeader? 'inner-header': 'normal-header'">
 
  <div class="container">
    <nav class="navbar">
     
      <div class="header-logo mr-auto">
        <a class="navbar-brand" [routerLink]="['/'+langURL , 'intro']">
          <h1><img src="../../../assets/images/local-hero-logo.svg"></h1>
        </a>
      </div>
      <div class="header-items ml-auto">
        <div class="ml-auto add-place-btn" [ngClass]="{ 'margin-right': languageSwitcherStatus === true }">
          <a [routerLink]="['/'+langURL , 'add-new-place']" class="btn-original">
             <span>{{'Add_new_place' | translate}}</span></a>
        </div>
       
        <div class="sign-user">
          <a [routerLink]="['/signin']" [hidden]="this.userStatus.userLoggedIn()">{{'signin' | translate}}</a>
          <div class="dropdown" [hidden]="!this.userStatus.userLoggedIn()">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <span><img *ngIf="profilePicture || profilePicture"
                  [src]="profilePicture? (profilePicture) : (profilePicture)" /></span>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/'+langURL, 'profile']">{{'my_profile' | translate}}</a>
              <a class="dropdown-item" (click)="Logout()">{{'Sign_out' | translate}}</a>
            </div>
          </div>

        </div>
        <a class="nav-link" [routerLink]="['/'+langURL]" >{{'to_map' | translate}}</a>
        <!-- <div class="dropdown language" [hidden]="languageSwitcherStatus">
          <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span>{{ (translate.currentLang?translate.currentLang: selectedLang) | uppercase }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item" *ngFor="let lang of translate.getLangs()" [value]="lang"
              [selected]="lang === translate.currentLang" #langSelect
              (click)="translate.use(langSelect.value); getSelectedLang(langSelect.value)">

              {{ (lang != translate.currentLang)? (lang | uppercase) : ''}}

            </span>
          </div>
        </div> -->
        <!-- <div class="search-mobile">
          <i class="fa fa-search" (click)="toggleSearch()"></i>
        </div> -->
        <!-- <div class="search-mobile-form" [ngClass]="{ 'open': mobileSearch === true }">
          <form class="form-inline" #resultForm="ngForm" (ngSubmit)="searchResult(resultForm)">
            <input class="form-control mr-sm-2" type="search" [placeholder]="'searchDestination' | translate"
              aria-label="Search" type="text" name="search" ngModel #searchText="ngModel" autocomplete="off">
            <button class="btn my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <form class="form-inline" #resultFormMobile="ngForm" (submit)="searchResult(resultFormMobile)">
          <input class="form-control mr-sm-2" type="search" [placeholder]="'searchDestination' | translate"
            aria-label="Search" type="text" name="search" ngModel #searchText="ngModel">
          <button class="btn my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form> -->
        <div class="care-link">
          <a href="https://www.bag.admin.ch/bag/de/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov.html"
          target="_blank">
          Take care &<br/>
          stay home!
         </a> 
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="add-place-btn-mobile">
  <a [routerLink]="['/'+langURL , 'add-new-place']">
    <img src="../../../assets/images/plus.svg" />
  </a>
</div>